<div class="background" style="position: fixed ;width: 100%;height: 100% ;background-color:#0e1314; z-index: -9999"></div>
<div class="pageInd"></div>
<div class="content">
    <h1>WATCH & LISTEN</h1>
    <div id="general">
        <div class="row">
            <div class="leftcolumn">

                <!-- NEW POSTS ///////////////////////////////////////// -->

                <!-- NEW POSTS //////////////////////////////////////////-->

                <div class="card">
                    <h2>R.Wagner:"Der Fliegende Holländer" </h2>
                    <div class="fakeimg" style="height:auto;"><iframe src="//www.youtube.com/embed/mvu_nCIgIAM?wmode=transparen&amp;theme=light&amp;controls=1&amp;autohide=0&amp;loop=0&amp;showinfo=1&amp;rel=0&amp;playlist=false&amp;enablejsapi=0">
                        </iframe></div>
                </div>
                <div class="card">
                    <h2>S.Prokofiev ballet "Romeo and Juliet"</h2>
                    <div class="fakeimg" style="height:auto;">
                        <iframe src="https://www.youtube.com/embed/iexxw8wyF_E">
                        </iframe></div>
                </div>
                <div class="card">
                    <h2>G.Verdi "Nabucco" - Overture</h2>
                    <div class="fakeimg" style="height:auto;"><iframe src="//www.youtube.com/embed/mvu_nCIgIAM?wmode=transparen&amp;theme=light&amp;controls=1&amp;autohide=0&amp;loop=0&amp;showinfo=1&amp;rel=0&amp;playlist=false&amp;enablejsapi=0">
                        </iframe></div>
                </div>
                <div class="card">
                    <h2>G.Puccini "Turandot" - "Non piangere, Liu!" aria di Calaf, concertato finale</h2>
                    <div class="fakeimg" style="height:auto;"><iframe src="//www.youtube.com/embed/mvu_nCIgIAM?wmode=transparent&amp;theme=light&amp;controls=1&amp;autohide=0&amp;loop=0&amp;showinfo=1&amp;rel=0&amp;playlist=false&amp;enablejsapi=0">
                        </iframe></div>
                </div>
                <div class="card">
                    <h2>P.Tchaikovsky "Eugene Onegin", Polonaise</h2>
                    <div class="fakeimg" style="height:auto;"><iframe src="//www.youtube.com/embed/mvu_nCIgIAM?wmode=transparent&amp;theme=light&amp;controls=1&amp;autohide=0&amp;loop=0&amp;showinfo=1&amp;rel=0&amp;playlist=false&amp;enablejsapi=0">
                        </iframe></div>
                </div>
                <div class="card">
                    <h2>Modern Ukrainian Opera: the history about new production in Donbass Opera (part 1)</h2>
                    <div class="fakeimg" style="height:auto;"><iframe src="//www.youtube.com/embed/mvu_nCIgIAM?wmode=transparent&amp;theme=light&amp;controls=1&amp;autohide=0&amp;loop=0&amp;showinfo=1&amp;rel=0&amp;playlist=false&amp;enablejsapi=0">
                        </iframe></div>
                </div>
                <div class="card">
                    <h2>Donbass Opera created grandiose productions of R. Wagner
                        "Der Fliegende Holländer" (part 2)</h2>
                    <div class="fakeimg" style="height:auto;">
                        <iframe src="//www.youtube.com/embed/mvu_nCIgIAM?wmode=transparent&amp;theme=light&amp;controls=1&amp;autohide=0&amp;loop=0&amp;showinfo=1&amp;rel=0&amp;playlist=false&amp;enablejsapi=0">
                        </iframe></div>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="card">
                    <h3>Follow Me</h3>
                    <div class="sn">
                        <div class="SN"><a href="https://www.youtube.com/user/VasylVasylenko"><i class="fab fa-youtube fa-3x"
                                    style="color:rgb(255, 0, 0);"></i></a></div>
                        <div class="SN"><a href="https://soundcloud.com/vasyl-vasylenko" style="color:rgb(255, 166, 0);"><i
                                    class="fab fa-soundcloud fa-3x "></i></a></div>
                    </div>
                </div>
                <div class="card">
                    <h4>Konstiantyn Dankevych - opera "Bohdan Khmelnytsky"
                        Music | © 2012 Ukraine by NRCU</h4>
                    <div class="fakeimg" style="height:200px;overflow: hidden;">
                        <iframe width="100%" height="100%" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/124494440&amp;amp%3bcolor=ff6600&amp;amp%3bauto_play=false&amp;amp%3bshow_artwork=true&amp;visual=true&amp;auto_play=fals&amp;amp%3bcolor=ff6600&amp;amp%3bauto_play=false&amp;amp%3bshow_artwork=true&amp;visual=true&amp;auto_play=false"></iframe>
                    </div>
                </div>
                <div class="card">
                    <h4>Gustav Mahler - Symphony No. 4. Music | ©1990
                        Ukraine by NRCU</h4>
                    <div class="fakeimg" style="height:200px;overflow: hidden;">
                        <iframe width="100%" height="100%" src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/123742354&amp;amp%3bcolor=ff6600&amp;amp%3bauto_play=false&amp;amp%3bshow_artwork=true&amp;visual=true&amp;auto_play=fals&amp;amp%3bcolor=ff6600&amp;amp%3bauto_play=false&amp;amp%3bshow_artwork=true&amp;visual=true&amp;auto_play=false"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>