.content{
    width: 100%;
}
.general{
    width: 84%;
    margin: 10%  8%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.377);
}

.card1{
    text-align: center;
    background-color: #e0e0e0;
    padding: 20px;
}


.card2{
    background-color: rgb(194, 194, 194);
    overflow: hidden;
}

/* .content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.general{
    width: 84%;
    margin: 10%  8%;
    height: auto;
    background-color: #fff;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.377);
}

.card1{
    text-align: center;
    background-color: #e0e0e0;
    padding: 20px;
}


.card2{
    background-color: rgb(194, 194, 194);
    overflow: hidden;
} */
h2{
    margin: 30px 0px;
    margin-top: 120px;
}


h1{
    width: 100%;
    text-align: center ;
    margin: 0px 0px ;
    color: white;
}

.pageInd{
    width: 126px;
    height: 34px;
    position: fixed ;
    margin-top: 26px ;
    z-index: 1;
    right:  247px;
    z-index: 1000;
    box-shadow: inset 0px -200px 10px -196px rgb(161, 161, 161);
}

iframe{
    margin-bottom: -5px;
}


@media screen and (max-width: 1044px) {
.pageInd{
    display: none ;
}
  }




















