<div class="background" style="position: fixed ;width: 100%;height: 100%; background-image: url(assets/img/vvvv.jpg); z-index: -9999; background-repeat: no-repeat; background-size: cover;"></div>

<div class="pageInd"></div>
<div class="watch" >
        <h1>WATCH&LISTEN</h1>
        <div class="content">
                <div class="general">
                        <div class="card1">
                                <h2>R.Wagner:"Der Fliegende Holländer" (trailer) | Donbass Opera, Ukraine</h2>
                                <p>the history about new production in Donbass Opera
                                </p>
                        </div>
                        <div class="card2">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/MAIg0oy6Fac" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                 allowfullscreen></iframe>
                        </div>
                </div>
                <div class="general">
                        <div class="card1">
                                <h2>Wagner:Der Fliegende Holländer- III act, conductor Vasyl Vasylenko</h2>
                                <p>the history about new production in Donbass Opera
                                </p>
                        </div>
                        <div class="card2">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/bjLEs5auxeo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                                allowfullscreen></iframe>
                        </div>
                </div>
                <div class="general">
                        <div class="card1">
                                <h2>Puccini Turandot act I - "Non piangere, Liú!" romanza di Calaf, concertato finale</h2>
                                <p>the history about new production in Donbass Opera
                                </p>
                        </div>
                        <div class="card2">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/6QW8NgjyrvY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                 allowfullscreen></iframe> 
                        </div>
                </div>
                <div class="general">
                        <div class="card1">
                                <h2>Puccini Turandot act III - final "il suo nome è amor" & "O sole! Vita! Eternità"</h2>
                                <p>the history about new production in Donbass Opera
                                </p>
                        </div>
                        <div class="card2">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/HZRMJFg6_RU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                 allowfullscreen></iframe>
                        </div>
                </div>
                <div class="general">
                        <div class="card1">
                                <h2>Puccini Turandot act I - Scene 1: A pavilion in the imperial palace. Before sunrise</h2>
                                <p>the history about new production in Donbass Opera
                                </p>
                        </div>
                        <div class="card2">
                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/JWRn3VOBNOg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                 allowfullscreen></iframe>
                </div>
                
                
                
        </div>
</div>