<div class="background" style="position: fixed ;width: 100%;height: 100% ;background-image: url(assets/img/vv01.jpg); z-index: -9999">
</div>
<div class="pageInd"></div>
<div style="height:3000px; padding-top: 200px; width: 100%; background-color: rgba(255, 255, 255, 0.281);" >
        <h1>WATCH&LISTEN</h1>
        <div class="general">
                <div class="card1">
                        <h2>Modern Ukrainian Opera</h2>
                        <p>the history about new production in Donbass Opera
                        </p>
                </div>
                <div class="card2">
                        <iframe width="100%" height="390" src="https://www.youtube.com/embed/tgbNymZ7vqY"
                                allowtransparency="true" scrolling="no" frameborder="no" allow="autoplay"></iframe>
                </div>
        </div>
</div>