<div class="cv">
  <h1>CV</h1>
  <h3>You may download CV here:</h3>
  <div class="pdf">
    <div class="file">
      <div class="arrow" [class.go1]="go1" ></div>
      <div class="front"(click)="Go1()">Cv in english</div>
    </div>
    <div class="file">
      <div class="arrow" [class.go2]="go2"></div>
      <div class="front" (click)="Go2()" >Cv in ukrainian</div>
    </div>
    <div class="file">
      <div class="arrow" [class.go3]="go3" ></div>
      <div class="front" (click)="Go3()">Cv in russian</div>
    </div>
    
  </div>
</div>