
.general{
    position: fixed ;
    width: 100%;
    z-index: 1000;
    color: #fff;
    transition: color 1000ms ;
    top: 0px;
}
.menu{
    z-index: 1;
    position: relative;
}
.bar1, .bar2, .bar3 {
    width: 33px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}
.black{
    background-color: black ;
}
.NewMenu{
    position: absolute ;
    width: 50% ;
    overflow: hidden;
    left: 25% ;
    top: 15% ;
}
.NewMenu div{
    float: unset ;
    color: rgb(0, 0, 0);
    width: 100% ;
    height: 45px;
    margin-top: 20px ;
    text-decoration: none;
    font-size: 28px;
    text-align: center ;
    cursor: pointer;
    background-color: rgb(194, 194, 194) ;
    border-radius: 12px ;
}

.change1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #ddd ;
}

.change2 {opacity: 0;}

.change3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #ddd ;
}
.hr{
    height: 0px;
    width: 96%;
    margin-left: 2%;
    background-color:white ;
    float: inherit ;
}


.mobile{
    width: 100%;
    height: 100%;
    position: fixed ;
    background-color: rgba(0, 0, 0, 0.918);
    display: none ;


}
.active{
    display: block ;
    z-index: 10;
}
a.icon{
    margin-top: 5px ;
}
.background{
    height: 63px;
    width: 100%;
    z-index: -1;
    position: fixed ;
    background-color: rgba(127, 255, 212, 0) ;
    transition: all 1000ms;
    top: 0px ;

}
.show{
    background-color: rgba(255, 255, 255, 0.973) ;
    transition: transform 500ms, background-color 500ms;
}
.none{
    display: none ;
}
















.topnav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 60px;
    padding-right: 40px ;
  }

  .title{
      width: 450px;
      margin: 0 ;
      padding: 0 ;
      float: left;
      margin-left: 1% ;
      margin-top: 8px ;
      /* font-family: 'Great Vibes', cursive; */
      font-family: 'Cardo', serif;
  }
  .title h5{
      width: 100%;
      font-size: 15px ;
      text-align: center;
      letter-spacing: 4px;
  }
  .title h2{
      width: 100%;
      font-size: 44px ;
      text-align: center;
      margin-bottom: 0px ;
      letter-spacing: 4px;
      /* text-transform: uppercase ; */
  }
  
  .topnav a {
    float: right;
    display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff ;
  }
  
  
  
  .topnav .icon {
    display: none;
    padding: 5px 10px ;
    
  }
  .white{
    color: rgb(0, 0, 0) ;
    transition: all 1000ms ;
}
.white a{
    color: rgb(0, 0, 0) ;
    transition: all 1000ms ;
} 

  
  @media screen and (max-width: 1044px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      z-index: 1;
    }
    .title{
        width: 230px;
        font-size: 150%;
        margin-top: 6px ;
    }
    .topnav{
        padding-right: 20px ;
    }
  }
  @media screen and (max-width: 544px) {
    .title{
        width: 200px;
        font-size: 110%;
        margin-top: 6px ;
    }
    .title h2{
        font-size: 23px;
    }
    .topnav{
        padding-right: 7px;
        padding-left: 5px;
    }

  }
  
  @media screen and (max-width: 1044px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .title{
        margin-bottom: 9px ;
    }


  }
  
  @media screen and (min-width: 1044px) {
    .active{
        display:none;

    }
    .none {
        display: block;
    }
  }