<footer class="footer">
  <form class="aa">
  
  </form>
  <div class="icons">
    <a href="https://www.youtube.com/user/VasylVasylenko" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
    <a href="https://soundcloud.com/vasyl-vasylenko" target="_blank"> <i class="fab fa-soundcloud fa-3x "></i></a>
    <a href="https://www.facebook.com/vasylvasylenko/?ref=br_tf&epa=SEARCH_BOX" target="_blank"> <i class="fab fa-facebook fa-3x"></i></a>
  </div>
  <div class="item">
    <p>© 2019 Vasyl Vasylenko - Credits - Terms and Conditions<br>Created by Andrienko Team</p>
  </div>
</footer>