<footer class="footer">
  <form class="aa">
    <div class="sendButton" (click)="rot()" [class.buttonDown]="rota">
      Message me
      <div class="sendWindow" [class.active]="rota">
        <div class="cart2">
          <div class="form-group">
            <label for="exampleInputEmail1"> Your Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Your Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" Enter your Name">
          </div>

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control message" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
        <!-- <div class="cart1">
          <div class="f2">
            <label for="exampleInputEmail1"> Your Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="f1">
            <label for="exampleInputPassword1">Your Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" Enter your Name">
          </div>
        </div>
        <div class="cart2">
          <label for="exampleFormControlTextarea1">Message</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button> -->
      </div>
    </div>
  </form>
  <div class="icons">
    <a href="https://www.youtube.com/user/VasylVasylenko" target="_blank"><i class="fab fa-youtube fa-3x"></i></a>
    <a href="https://soundcloud.com/vasyl-vasylenko" target="_blank"> <i class="fab fa-soundcloud fa-3x "></i></a>
    <a href="https://www.facebook.com/vasylvasylenko/?ref=br_tf&epa=SEARCH_BOX" target="_blank"> <i class="fab fa-facebook fa-3x"></i></a>
  </div>
  <div class="item">
    <p>© 2019 Vasyl Vasylenko - Credits - Terms and Conditions<br>Created by Andrienko Team</p>
  </div>
</footer>