<footer class="footer">
  <form class="aa">

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  <div class="icons">
    <i class="fab fa-youtube fa-3x"></i>
    <i class="fab fa-soundcloud fa-3x "></i>
    <i class="fab fa-facebook fa-3x"></i>

    <i class="fab fa-google-plus-square fa-3x"></i>
  </div>
  <div class="item">
    <p>© 2014 Vasyl Vasylenko - Credits - Terms and Conditions</p>
  </div>
</footer>