<div class="pageInd"></div>
<div class="general">
        <h1>GOLDEN CROWN</h1>
        <p class="title">International Opera Art Festival </p>
        <p class="text"><img src="assets/img/fest.jpg" alt="go" width="132" height="174" class="leftimg">Vasyl Vasylenko
                is the director and artistic manager of the International Opera Art Festival ZOLOTA KORONA (Golden
                Crown). The festival founded by Vasyl Vasylenko in 1998 in the city of Odessa is one of the most
                prestigious forums of classical music in Ukraine as well as an only opera art festival of international
                level held in the country.<br>The name of the festival has a deep symbolic meaning since the main idea
                of the festival is saving and promoting the renaissance of the world architectural masterpiece – Odessa
                Opera Theatre, which is the architectural “crown” of the city, its visiting card. This “crown” with its
                internal gold decor glorified on its stage the king of tenors Enrico Caruso, the baritones – Tito Ruffo,
                the basses - Fyodor Shalyapin, the sopranos - Solomiya Krushelnitska and many others. Thanks to the
                efforts of maestro Vasyl Vasylenko, ZOLOTA KORONA festival was set up during one of the most difficult
                periods in the life of the theatre –in the period of its total reconstruction. The festival like a
                spiritual bell managed to attract the close attention of the world’s community to the problems of Odessa
                opera theatre – the most precious diamond in the opera crown of Ukraine. The legend of opera art, the
                Opera Diva Irina Arkhipova blessed the festival. In her opening speech to the festival, she exclaimed:
                “I am so happy that the queen of the marine cities – Odessa –has been crowned with the highest symbol of
                power over people – the gold opera crown! The beautiful city – with its more than 200-year history has
                gained this right –to wear the opera crown, which is confirmed by the Pleiades of brilliant names
                connected with Odessa!”</p>
        <br class="none">
        <h2>FESTIVAL TESTIMONIALS</h2>
        <br><br class="none"><br>
        <p class="text">I am so happy that the queen of the marine cities – Odessa – has been crowned with the highest
                symbol of
                power over people – the gold opera crown! The beauty city – with its more than 200 years history has
                gained this right –to wear the opera crown, which is confirmed bythe pleiades of brilliant names
                connected to Odessa!
        </p>
        <br>
        <h4>Irina Arkhipova, Russia</h4>
        <br>
        <hr><br>
        <p class="text">May I heartily congratulate you on a great celebration, which You so generously presented to a
                pretty woman – Odessa city! It is really the opera festive party, its excellent victory over musical
                garbage, overwhelmingly filling all visible and invisible space of our Motherland

        </p>
        <br>
        <h4>Vladislav Piavko, Russia</h4>
        <br>
        <hr><br>
        <p class="text">On the background of low-cost “pop-art” music which overfilled today the whole radio space
                ofUkraine, ZOLOTA KORONA festival gains even more significance. I can prove that there is nosuch a
                festival not only in Ukraine but also on the whole post-soviet territory!
        </p>
        <br>
        <h4>Anatoliy Solovianenko, Ukraine</h4>
        <br>
        <hr><br>
        <p class="text">Your festival has gained a success. Incomparable was the concert on Potyomkin’s Staircase when
                thousands and thousands of people could listen free of charge to the wonderful performers. Never, in any
                of the cities in the world have I seen such a spectacular event.
        </p>
        <br>
        <h4>Anthony Wikherek, Warsaw Opera House, Poland</h4>
        <br>
        <hr><br>
        <p class="text">ZOLOTA KORONA festival gives me the possibility for the whole week to live in the atmosphere of
                joy, arts and love! I shall guarantee that for me my presence at the festival would be not just a mere
                reminiscence!
        </p>
        <br>
        <h4>Maurizio Graciani, Italy</h4>
        <br>
        <hr><br>
        <p class="text">Coming to Odessa, I was convinced once again that opera is one of the arts which unites people
                despite the fact in which country and in which political or economic system they are living.
        </p>
        <br>
        <h4>Mauro Augustini, Italy</h4>
        <br>
        <hr><br>

        <app-courusel></app-courusel>
</div>