<div class="news">
  <div class="container">
    <h2>Performances</h2>
    <table class="table">
      <thead>
        <tr>

          <th scope="col">DATE</th>
          <th scope="col">PRODUCTION</th>
          <th scope="col">VENUE</th>
          <th scope="col">LOCATION</th>
          <th class="none" scope="col">TICKETS</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>Feb 18, 2020</td>
          <td>La Boheme</td>
          <td>Cliffs Pavilion</td>
          <td>Southend-on-Sea, England</td>
          <td class="fly"> <a href="https://www.ents24.com/southend-on-sea-events/cliffs-pavilion/la-boheme/5880999" class="btn"
              target="_blank">
              TICKETS
            </a></td>
        </tr>
        <tr>

          <td>Feb 14, 2020</td>
          <td>Madama Butterfly</td>
          <td>Princess Theatre Torquay</td>
          <td>Torquay, England</td>
          <td class="fly"><a href="https://www.atgtickets.com/shows/ellen-kents-madama-butterfly/princess-theatre-torquay/" class="btn" target="_blank">
              TICKETS
            </a></td>
        </tr>
        <tr>

          <td>Feb 13, 2x020</td>
          <td>Madama Butterfly</td>
          <td>New Wimbledon Theatre</td>
          <td>Wimbledon, London</td>
          <td class="fly"><a href="https://www.atgtickets.com/shows/ellen-kents-madama-butterfly/new-wimbledon-theatre/" class="btn"
              target="_blank">
              TICKETS
            </a></td>
        </tr>
        <tr>

            <td>Feb 06, 2020</td>
            <td>Symphony Concert with Ukrainian opera stars - Tatiana Ganina and Valentin Dytiuk</td>
            <td>National Philharmonic of Ukraine</td>
            <td>Kyiv,Ukraine</td>
            <td class="fly"><a href="https://www.filarmonia.com.ua/afisha/_-5348/" class="btn"
                target="_blank">
                TICKETS
              </a></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>