<div class="background"
    style="position: fixed ;width: 100%;height: 100% ;background-color: #efebe8; z-index: -9999; ; background-repeat: no-repeat; background-size: cover;">
</div>
<div class="pageInd"></div>
<div class="photo">
    <img src="assets/img/vv2.jpg" alt="">
    <h1>News</h1>
</div>
<div class="navBar">
</div>
<div class="content">
    <app-news-item imgSrc="assets/img/news/news21.jpg" date="11.02.2020 - 10.04.2020" title="Vasyl Vasylenko leades Winter-Spring  Opera Tour 2020 
    of La Boheme and Madama Butterfly in the UK">
        Beginning the 13 of February, Vasyl Vasylenko continues his UK tour with Madama Butterfly at the New Wimbledon
        Theatre in London. In Torquay, Vasyl Vasylenko presents again Madama Butterfly at the Princess Theatre (Feb,
        14). Maestro Vasylenko performs La Boheme and Madama Butterfly at Usher Hall in Edinburch (Feb, 26,27), in
        Sunderland`s Empire La Boheme and Madama Butterfly (Feb, 28,29) and in Royal Concert Hall in Glasgow (Mar,
        01,02) and then takes the three stages at Swansea Grand Theatre and Arts Wing (Mar, 06,07), at (March 18), at
        Richmond`s Theatre and at Aylesbury Waterside Theatre (Mar, 08,11). In Regent Theatre - Stoke-on-Trent,
        conductor Vasylenko performs Madama Butterfly (Mar, 13). In Grand Opera House York he performs Madama Butterfly
        and La Boheme (Mar, 20,21). Vasyl Vasylenko’s opera tour closes with Madama Butterfly and La Boheme at the
        Cardiff, St David's Hall
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/22.jpg" date="06.02.2020"
        title="Conducting the Gala-concert with Ukrainian opera stars Tatiana Ganina and Valentyn Dytiuk at National Philharmonic of Ukraine">
        On February 06, Vasyl Vasylenko conducts the Gala concert with the National Presidential Symphony Orchestra of Ukraine at National Philharmonic of Ukraine. 
        Joined by Ukrainian opera stars Tatiana Ganina and Valentyn Dytiuk, the program features Gounod, Charpentier, Massne, Bizet, Verdi, Catalani, Puccini
        Tickets on: https://widget.kontramarka.ua/uk/widget26site91/widget/event/100110830
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/23.jpg" date="31.12.2019"
        title="Maestro Vasyl Vasylenko & National Presidential Symphony Orchestra of Ukraine wish you Happy 2020 New Year!">
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/news20.jpg" date="18.12.2019"
        title="Symphony concert concert with Mariano Rey (a solo clarinet of the Buenos Aires Colón Theatre Philarmonic Orchestra)” ">
        On December 18 maestro Vasylenko leads the concert with featuring famous clarinet player Mariano Rey (the
        soloist of the Buenos Aires Colón Theatre Philarmonic Orchestra) at the National Philharmonie of Ukraine. The
        repertoire includes the masterpiece of Weber, Saint -Saëns, Piazzolla
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/news19.jpg" date="01.10.2019"
        title="Symphony concert: “Musical dialog: Ukraine - Austria” ">
        On the International Music Day, October 1st, the National Presidential Orchestra of Ukraine with maestro Vasyl
        Vasylenko opened 2019/2020 season, performing the Symphony concert “Musical dialog: Ukraine - Austria” within
        the 30th International Festival #KyivMusicFest.

        The program consisted of works by Ukrainian, Austrian and German composers, including the Overture of the opera
        “Alfonso and Estrella” by Franz Schubert and aria of Froila from the same work, Introduction “Also sprang
        Sarathustra” and two romantic songs “Cäcilie” and “Morgen” by Richard Strauss, after Ivan Nebesnyy “Message from
        Ukraine” for symphony orchestra and electro guitar, there were two interesting works by Vladimir Ptushkin the
        Impromptu for the symphony orchestra "Let's joke with Beethoven" and by Kurt Schmid the March for symphony
        orchestra «Road to Lugansk».
        Maestro Vasylenko opened the second part of the concert with dramatic music of the Ukrainian composer Myroslav
        Volynsky - the Overture from the opera “Danylo Galytskyi” and aria of Danylo Galytskyi at the same work. The
        incredible finale of the concert was the performance of a ballet suite for the Symphony Orchestra "Za dvoma
        zayziamy" by Yuriy Shevchenko.

        The participants of the concert were two youngUkrainian soloists Igor Onishchenko (the soloist of the Vienna
        State Opera, Austria) and Nataliya Stepanyak (Ukraine - Austria).
        The concert moderator - Lessia Oliinyk.
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/news1.jpg" date="26.02.2019" title=" CARMEN at Dnipro Opera House, Ukraine">
        Maestro Vasylenko conducts CARMEN by Bizet at the Dnipro Opera House. The Yuriy Chaika production
        features Olga Us as Carmen, Andrei Romanenko as Don Jose, Oleksandr Forkushak as Escamillo and Olena
        Samoylova as
        Micaela.
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/news3.jpg" date="30.12.2018-31.12.2018"
        title=" New Year’s Eve Concerts with the National Presidential Orchestra of Ukraine">
        Leading up to the new year, Vasyl Vasylenko joins the National Presidential Orchestra of Ukraine for two
        concerts
        featuring music by Strauss at the National Philharmonic Hall of Ukraine and National Academic Theatre named
        after I.
        Franko, Kyiv.
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/news2.jpg" date="22.12.2018"
        title=" Concert 'Viva Puccini' performes Vasyl Vasylenko">
        On the 22nd of December, maestro Vasylenko with Kateryna Strashchenko (soprano), Mykola Shuliak (tenor),
        Anatolii
        Yurchenko (baritone) and the National Opera of Ukraine perform the gala-concert 'VIVA PUCCINI' which is
        dedicated to the
        160th birth anniversary of Giacomo Puccini. The programme includes overtures, arias and duets from the
        operas La boheme,
        Tosca, Turandot, Manon Lescaut, Gianni Schicchi, Madama Butterfly.
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/news4.jpg" date="13.11.2018"
        title=" Maestro Vasylenko & XVII Solomiia Krushelnytska International Opera Festival">
        Vasyl Vasylenko performs Madama Butterfly on the opening night of the XVII Solomiia Krushelnytska
        International Opera
        Festival.
        The production is directed by Anatoliy Lymarev and spotlight performance by Melba Ramos (Volksoper Vienna)
        as Cio Cio
        San, Mykhailo Malafiy as Pinkerton (Stockholm Royal Opera), Yana Voytyuk as Suzuki, Yuriy Trytsetskyy as
        Bonza, Vitaliy
        Voytko as Goro (Lviv Opera House).
        Photo made by #lvivopera
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/news5.jpg" title=" Vasyl Vasylenko & Kyiv Music Fest 2018" date="01.10.2018">
        Vasyl Vasylenko and the National Presidential Symphony Orchestra of Ukraine perform the concert 'Musical
        Dialogue:
        Ukraine-China' on the International Music Day and on the Day of Proclamation of the People's Republic of
        China in the
        framework of the XXIX International Kyiv Music Fest.
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/news6.jpg" date="22.09.2018"
        title=" Vasyl Vasylenko presents the recital of Andrii Goniukov (the soloist of Chicago Lyrics Opera)">
        On September 22, the maestro Vasyl Vasylenko and the National Presidential Symphony Orchestra of Ukraine
        present a
        concert 'Сузір'я оперних шедеврів' at the National Philharmonic of Ukraine, with the participation of Andriy
        Gonyukov,
        soloist of the Chicago Lyrics Opera (USA) and the National Opera of Ukraine (Kyiv) and soprano Valentina
        Andreeva. The
        program includes the arias of Mozart, Gounod, Verdi, Massnet, Rossini, Mussorgskyi, Lysenko,
        Hulak-Artemovsky, Bilash.
    </app-news-item>

    <app-news-item imgSrc="assets/img/news/news7.jpg" date="21.09.2018" title=" Interview: Radio Svoboda ">
        Classical music is a pass to the 'civilized club' - Vasyl Vasylenko
        <a
            href="https://www.radiosvoboda.org/a/29502632.html?fbclid=IwAR3iaYTzDxv18WpTFhjmGoaqaSHHARAlkcfQO8vIIhmwwgE6OJjTUh9dnOA">
            Read full article
        </a>
    </app-news-item>

    <app-news-item imgSrc="assets/img/news/news9.jpg" date="01.03.2018 - 12.04.2018"
        title="Vasyl Vasylenko continues Spring Opera Tour 2018 of La Traviata, Rigoletto and Madama Butterfly in the UK and Ireland">
        Beginning the 1st of March, Vasyl Vasylenko continues his UK tour with Madama Butterfly at the York Grand
        Opera House.
        In Liverpool, Vasyl Vasylenko presents again Madama Butterfly and Rigoletto at the Empire Theatre (March
        2,3).
        Maestro Vasylenko performs La Traviata and Madama Butterfly at Regent Theatre in Stoke-on-Trent (March 7,8),
        in
        Manchester`s Opera House La Traviata, Madama Butterfly and Rigolleto (March 9,10,11) and takes the three
        stages at
        Bradford’s Alhambra Theatre (March 15,16,17), at Cardiff`s St David’s Hall High (March 18) and at
        Edinburgh`s Playhouse
        (March 29,30,31).
        In Dundee at Caird Hall, conductor Vasylenko performs Madama Butterfly (April 1). In Cork`s Opera House and
        in Dublin`s
        National Concert Hall he performs Madama Butterfly and La Traviata (April 5,6,7,8). Vasyl Vasylenko’s opera
        tour closes
        with Butterfly and La Traviata at Leicester`s De Montfort Hall (April 11,12).

    </app-news-item>

    <app-news-item imgSrc="assets/img/news/news10.jpg" date="07.02.2018" title="Zhengdzian Conservatory: Chinese Musical Syndrome
Ukrainian Internet Magazine MUSYKA">
        The administration of the Conservatory of the Chinese province of Zhanjiang who visited the Tchaikovsky
        National Music
        Academy of Ukraine last year invited colleagues from Kyiv to come to the provincial higher educational
        institution, and
        also proposed Vasyl Vasylenko to lead the Chinese Conservatory student orchestra the New Year`s Eve 2018.
        <a
            href="http://mus.art.co.ua/chzhendzyanska-konservatoriya-kytajskyj-muzychnyj-syndrom/?fbclid=IwAR0btoH4eqA1KkGNzZAGznSWjlUVQ5K6LonLqUwqFm7ALWzb7N0_A6P91yc">
            Read full article
        </a>

    </app-news-item>

    <app-news-item imgSrc="assets/img/news/news11.jpg" date="27.01.2018" title="Review about performance 'Madama Butterfly' in Sunderland Empire Theatre
British Theatre Guide">
        "Vasyl Vasylenko’s conducting brought out all the lyricism of Puccini’s music.."
        <a
            href="https://www.britishtheatreguide.info/reviews/madama-butterfl-sunderland-empi-15479?fbclid=IwAR0Dwaz5pLDWXfrEzd8kzrW937vc8IGxAoneDF_VyEd8BBpWT-zuV4fO0O8">
            Read full article
        </a>
    </app-news-item>


    <app-news-item imgSrc="assets/img/news/news12.jpg" date="26.01.2018" title="Review about performance 'La Traviata' in Sunderland Empire Theatre
British Theatre Guide">
        Excellent support from the rest of the cast underscored by fine orchestral playing under the baton of Vasyl
        Vasylenko
        completes a very enjoyable evening
        <a
            href="https://www.britishtheatreguide.info/reviews/la-traviata-sunderland-empi-15475?fbclid=IwAR2YaMs3trZFSz5dW9kV-F7ZGizS7x_-W0AOddQpUb4ONpxSQcQFotNet-M">
            Read full article
        </a>
    </app-news-item>


    <app-news-item imgSrc="assets/img/news/news13.jpg" date="18.01.2018" title="Opera Review: Ellen Kent's Rigoletto in Bristol Hippodrome
Online Culture Magazine ON THE BEAT ">
        Their live orchestra performed beautifully, conducted by Vasyl Vasylenko, and was met with a standing
        ovation at the
        end.
        <a
            href="https://www.on-the-beat.co.uk/rigoletto?fbclid=IwAR0bCaJezYSq2DcUoFDGjE6ld3uSpUvKyTjzx_HtgLar6cBirdLVZ6mI8Ho">
            Read full article
        </a>
    </app-news-item>
    <app-news-item imgSrc="assets/img/news/news14.jpg" date="18.01.2018 - 28.02.2018"
        title="Performances in the United Kingdom and Ireland Winter Tour">

        Following his UK&Ireland tour with the National Philharmonic Orchestra, Vasyl Vasylenko travels in
        Basingstoke at the
        New Alexandra Theatre, in Blackpool at the The Grand Theatre, in Bristol at the Hippodrome, in Bromley at
        the Churchill
        Theatre, in Buxton at the Buxton Opera House, in Cardiff at the St David’s Hall, in Dartford at the The
        Orchard Theatre,
        in Glasgow at the Royal Concert Hall, in Kings Lynn at the Corn Exchange, in Oxford at the New Theatre
        Oxford, in
        Portsmouth at The King’s Theatre, in Sheffield at the City Hall, in Southend at the Cliffs Pavillion, in
        Sunderland at
        the Empire Theatre, in Torquay at the Princess Theatre, in Wimbledon at the New Wimbledon Theatre, in Woking
        at the New
        Victoria Theatre with the Maria Biesu National Opera House of Moldova.
        Over 30th shows, Vasyl Vasylenko in cooperation with Maria Biesu National Opera perform La Traviata and
        Rigoletto by
        Verdi and Madama Butterfly by Puccini. In early March, Vasylenko and the collective of Maria Biesu National
        Opera House
        return to UK and Ireland, presenting the Spring Opera Tour.
    </app-news-item>

    <app-news-item imgSrc="assets/img/news/news15.jpg" date="29.12.2017"
        title="New Year’s Eve 2018 with the Zhejiang Conservatory Symphony Orchestra">

        It is very pleased that the Chinese public very well accepted the famous Ukrainian music pieces of M.
        Lysenko, Overture
        to opera ‘Taras Bulba’ and "The Melody" by M. Skoryk.
        Maestro Vasylenko expresses deep gratitude for the invitation to the Zhejiang conservatory for such a warm
        welcome!
    </app-news-item>

    <app-news-item imgSrc="assets/img/news/news16.jpg" date="28.12.2017"
        title="Vasyl Vasylenko is rehearsing an upcoming New Year 2018 Concert with the 110 people of Zhejiang Conservatory Symphony Orchestra">
        The Gala-concert will be performed on the 29th of December at the Zhejiang Conservatory of Music in
        Hangzhou, Zhejiang
        Province.
    </app-news-item>

    <app-news-item imgSrc="assets/img/news/news17.jpg" date="20.12.2017"
        title="Vasyl Vasylenko & the New Year Eve`s  2018 Gala-concert in China">

        At the end of December maestro, Vasyl Vasylenko conducts in the New Year Eve`s 2018 Gala-concert in the Big
        Hall at the
        Zhejiang Conservatory of Music in Hangzhou, Zhejiang Province.

        The New Year 2018 concert features an exploration of the music of Chinese composers: Shi Wanchun, Bao
        Yuankai, Tu Yejiu,
        and Wang Luobin. In this concert, maestro Vasylenko and the Symphony Orchestra of Zhejiang Conservatory of
        Music also
        perform the works of P. Tchaikovsky, B. Smetana, J. Brahms, J.Strauss and present two famous Ukrainian music
        pieces: M.
        Lysenko, Overture to opera ‘Taras Bulba’ and "The Melody" by M. Skoryk.
        The concert will be held at the Zhejiang Conservatory of Music on 29 December, at 19:30.
    </app-news-item>
</div>
<!-- <div class="background" style="position: fixed ;width: 100%;height: 100% ;background-image: url(assets/img/vasyl.jpg); z-index: -9999; ; background-repeat: no-repeat; background-size: cover;">
</div>
<div class="pageInd"></div>
<div class="general">
    <h1>THE NEWS</h1>


    <div class="content">
        
        <app-news-item imgSrc="assets/img/news/news18.jpg" date="Spring 2020"
            title="Vasyl Vasylenko & 2020 Spring opera tour in the UK">
            The Ellen Kent Company and maestro Vasyl Vasylenko present Spring Opera Tour in the United Kingdom 2020.
            Vasyl Vasylenko embarks on more than thirty-city and performs there La Boheme & Madama Butterfly by Puccini.
        </app-news-item>

        <app-news-item imgSrc="assets/img/news/news1.jpg" date="26.02.2019"
            title=" CARMEN at Dnipro Opera House, Ukraine">
            Maestro Vasylenko conducts CARMEN by Bizet at the Dnipro Opera House. The Yuriy Chaika production
            features Olga Us as Carmen, Andrei Romanenko as Don Jose, Oleksandr Forkushak as Escamillo and Olena
            Samoylova as
            Micaela.
        </app-news-item>
        <app-news-item imgSrc="assets/img/news/news3.jpg" date="30.12.2018-31.12.2018"
            title=" New Year’s Eve Concerts with the National Presidential Orchestra of Ukraine">
            Leading up to the new year, Vasyl Vasylenko joins the National Presidential Orchestra of Ukraine for two
            concerts
            featuring music by Strauss at the National Philharmonic Hall of Ukraine and National Academic Theatre named
            after I.
            Franko, Kyiv.
        </app-news-item>
        <app-news-item imgSrc="assets/img/news/news2.jpg" date="22.12.2018"
            title=" Concert 'Viva Puccini' performes Vasyl Vasylenko">
            On the 22nd of December, maestro Vasylenko with Kateryna Strashchenko (soprano), Mykola Shuliak (tenor),
            Anatolii
            Yurchenko (baritone) and the National Opera of Ukraine perform the gala-concert 'VIVA PUCCINI' which is
            dedicated to the
            160th birth anniversary of Giacomo Puccini. The programme includes overtures, arias and duets from the
            operas La boheme,
            Tosca, Turandot, Manon Lescaut, Gianni Schicchi, Madama Butterfly.
        </app-news-item>
        <app-news-item imgSrc="assets/img/news/news4.jpg" date="13.11.2018"
            title=" Maestro Vasylenko & XVII Solomiia Krushelnytska International Opera Festival">
            Vasyl Vasylenko performs Madama Butterfly on the opening night of the XVII Solomiia Krushelnytska
            International Opera
            Festival.
            The production is directed by Anatoliy Lymarev and spotlight performance by Melba Ramos (Volksoper Vienna)
            as Cio Cio
            San, Mykhailo Malafiy as Pinkerton (Stockholm Royal Opera), Yana Voytyuk as Suzuki, Yuriy Trytsetskyy as
            Bonza, Vitaliy
            Voytko as Goro (Lviv Opera House).
            Photo made by #lvivopera
        </app-news-item>
        <app-news-item imgSrc="assets/img/news/news5.jpg" title=" Vasyl Vasylenko & Kyiv Music Fest 2018"
            date="01.10.2018">
            Vasyl Vasylenko and the National Presidential Symphony Orchestra of Ukraine perform the concert 'Musical
            Dialogue:
            Ukraine-China' on the International Music Day and on the Day of Proclamation of the People's Republic of
            China in the
            framework of the XXIX International Kyiv Music Fest.
        </app-news-item>
        <app-news-item imgSrc="assets/img/news/news6.jpg" date="22.09.2018"
            title=" Vasyl Vasylenko presents the recital of Andrii Goniukov (the soloist of Chicago Lyrics Opera)">
            On September 22, the maestro Vasyl Vasylenko and the National Presidential Symphony Orchestra of Ukraine
            present a
            concert 'Сузір'я оперних шедеврів' at the National Philharmonic of Ukraine, with the participation of Andriy
            Gonyukov,
            soloist of the Chicago Lyrics Opera (USA) and the National Opera of Ukraine (Kyiv) and soprano Valentina
            Andreeva. The
            program includes the arias of Mozart, Gounod, Verdi, Massnet, Rossini, Mussorgskyi, Lysenko,
            Hulak-Artemovsky, Bilash.
        </app-news-item>

        <app-news-item imgSrc="assets/img/news/news7.jpg" date="21.09.2018" title=" Interview: Radio Svoboda ">
            Classical music is a pass to the 'civilized club' - Vasyl Vasylenko
            <a
                href="https://www.radiosvoboda.org/a/29502632.html?fbclid=IwAR3iaYTzDxv18WpTFhjmGoaqaSHHARAlkcfQO8vIIhmwwgE6OJjTUh9dnOA">
               Read full article </a>
        </app-news-item>

        <app-news-item imgSrc="assets/img/news/news9.jpg" date="01.03.2018 - 12.04.2018"
            title="Vasyl Vasylenko continues Spring Opera Tour 2018 of La Traviata, Rigoletto and Madama Butterfly in the UK and Ireland">
            Beginning the 1st of March, Vasyl Vasylenko continues his UK tour with Madama Butterfly at the York Grand
            Opera House.
            In Liverpool, Vasyl Vasylenko presents again Madama Butterfly and Rigoletto at the Empire Theatre (March
            2,3).
            Maestro Vasylenko performs La Traviata and Madama Butterfly at Regent Theatre in Stoke-on-Trent (March 7,8),
            in
            Manchester`s Opera House La Traviata, Madama Butterfly and Rigolleto (March 9,10,11) and takes the three
            stages at
            Bradford’s Alhambra Theatre (March 15,16,17), at Cardiff`s St David’s Hall High (March 18) and at
            Edinburgh`s Playhouse
            (March 29,30,31).
            In Dundee at Caird Hall, conductor Vasylenko performs Madama Butterfly (April 1). In Cork`s Opera House and
            in Dublin`s
            National Concert Hall he performs Madama Butterfly and La Traviata (April 5,6,7,8). Vasyl Vasylenko’s opera
            tour closes
            with Butterfly and La Traviata at Leicester`s De Montfort Hall (April 11,12).

        </app-news-item>

        <app-news-item imgSrc="assets/img/news/news10.jpg" date="07.02.2018" title="Zhengdzian Conservatory: Chinese Musical Syndrome
Ukrainian Internet Magazine MUSYKA">
            The administration of the Conservatory of the Chinese province of Zhanjiang who visited the Tchaikovsky
            National Music
            Academy of Ukraine last year invited colleagues from Kyiv to come to the provincial higher educational
            institution, and
            also proposed Vasyl Vasylenko to lead the Chinese Conservatory student orchestra the New Year`s Eve 2018.
            <a
                href="http://mus.art.co.ua/chzhendzyanska-konservatoriya-kytajskyj-muzychnyj-syndrom/?fbclid=IwAR0btoH4eqA1KkGNzZAGznSWjlUVQ5K6LonLqUwqFm7ALWzb7N0_A6P91yc">
                Read full article
            </a>

        </app-news-item>

        <app-news-item imgSrc="assets/img/news/news11.jpg" date="27.01.2018" title="Review about performance 'Madama Butterfly' in Sunderland Empire Theatre
British Theatre Guide">
            "Vasyl Vasylenko’s conducting brought out all the lyricism of Puccini’s music.."
            <a
                href="https://www.britishtheatreguide.info/reviews/madama-butterfl-sunderland-empi-15479?fbclid=IwAR0Dwaz5pLDWXfrEzd8kzrW937vc8IGxAoneDF_VyEd8BBpWT-zuV4fO0O8">
                Read full article
            </a>
        </app-news-item>


        <app-news-item imgSrc="assets/img/news/news12.jpg" date="26.01.2018" title="Review about performance 'La Traviata' in Sunderland Empire Theatre
British Theatre Guide">
            Excellent support from the rest of the cast underscored by fine orchestral playing under the baton of Vasyl
            Vasylenko
            completes a very enjoyable evening
            <a
                href="https://www.britishtheatreguide.info/reviews/la-traviata-sunderland-empi-15475?fbclid=IwAR2YaMs3trZFSz5dW9kV-F7ZGizS7x_-W0AOddQpUb4ONpxSQcQFotNet-M">
                Read full article
            </a>
        </app-news-item>


        <app-news-item imgSrc="assets/img/news/news13.jpg" date="18.01.2018" title="Opera Review: Ellen Kent's Rigoletto in Bristol Hippodrome
Online Culture Magazine ON THE BEAT ">
            Their live orchestra performed beautifully, conducted by Vasyl Vasylenko, and was met with a standing
            ovation at the
            end.
            <a
                href="https://www.on-the-beat.co.uk/rigoletto?fbclid=IwAR0bCaJezYSq2DcUoFDGjE6ld3uSpUvKyTjzx_HtgLar6cBirdLVZ6mI8Ho">
                Read full article
            </a>
        </app-news-item>
        <app-news-item imgSrc="assets/img/news/news14.jpg" date="18.01.2018 - 28.02.2018"
            title="Performances in the United Kingdom and Ireland Winter Tour">

            Following his UK&Ireland tour with the National Philharmonic Orchestra, Vasyl Vasylenko travels in
            Basingstoke at the
            New Alexandra Theatre, in Blackpool at the The Grand Theatre, in Bristol at the Hippodrome, in Bromley at
            the Churchill
            Theatre, in Buxton at the Buxton Opera House, in Cardiff at the St David’s Hall, in Dartford at the The
            Orchard Theatre,
            in Glasgow at the Royal Concert Hall, in Kings Lynn at the Corn Exchange, in Oxford at the New Theatre
            Oxford, in
            Portsmouth at The King’s Theatre, in Sheffield at the City Hall, in Southend at the Cliffs Pavillion, in
            Sunderland at
            the Empire Theatre, in Torquay at the Princess Theatre, in Wimbledon at the New Wimbledon Theatre, in Woking
            at the New
            Victoria Theatre with the Maria Biesu National Opera House of Moldova.
            Over 30th shows, Vasyl Vasylenko in cooperation with Maria Biesu National Opera perform La Traviata and
            Rigoletto by
            Verdi and Madama Butterfly by Puccini. In early March, Vasylenko and the collective of Maria Biesu National
            Opera House
            return to UK and Ireland, presenting the Spring Opera Tour.
        </app-news-item>

        <app-news-item imgSrc="assets/img/news/news15.jpg" date="29.12.2017"
            title="New Year’s Eve 2018 with the Zhejiang Conservatory Symphony Orchestra">

            It is very pleased that the Chinese public very well accepted the famous Ukrainian music pieces of M.
            Lysenko, Overture
            to opera ‘Taras Bulba’ and "The Melody" by M. Skoryk.
            Maestro Vasylenko expresses deep gratitude for the invitation to the Zhejiang conservatory for such a warm
            welcome!
        </app-news-item>

        <app-news-item imgSrc="assets/img/news/news16.jpg" date="28.12.2017"
            title="Vasyl Vasylenko is rehearsing an upcoming New Year 2018 Concert with the 110 people of Zhejiang Conservatory Symphony Orchestra">
            The Gala-concert will be performed on the 29th of December at the Zhejiang Conservatory of Music in
            Hangzhou, Zhejiang
            Province.
        </app-news-item>

        <app-news-item imgSrc="assets/img/news/news17.jpg" date="20.12.2017"
            title="Vasyl Vasylenko & the New Year Eve`s  2018 Gala-concert in China">

            At the end of December maestro, Vasyl Vasylenko conducts in the New Year Eve`s 2018 Gala-concert in the Big
            Hall at the
            Zhejiang Conservatory of Music in Hangzhou, Zhejiang Province.

            The New Year 2018 concert features an exploration of the music of Chinese composers: Shi Wanchun, Bao
            Yuankai, Tu Yejiu,
            and Wang Luobin. In this concert, maestro Vasylenko and the Symphony Orchestra of Zhejiang Conservatory of
            Music also
            perform the works of P. Tchaikovsky, B. Smetana, J. Brahms, J.Strauss and present two famous Ukrainian music
            pieces: M.
            Lysenko, Overture to opera ‘Taras Bulba’ and "The Melody" by M. Skoryk.
            The concert will be held at the Zhejiang Conservatory of Music on 29 December, at 19:30.
        </app-news-item>

    </div>



</div> -->