<div class="background"
    style="position: fixed ;width: 100%;height: 100% ;background-color: #efebe8; z-index: -9999">
</div>

<div class="pageInd"></div>
<div class="photo">
    <img src="assets/img/vv00.jpg" alt="">
    <h1>Projects</h1>
</div>
<div class="navBar">
    <a (click)="showProjects()">Projects</a>
    <a (click)="showFestival()">Festival "Golden Crown"</a>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>

<!-- <div class="background" style="position: fixed ;width: 100%;height: 100% ;background-image: url(assets/img/background1.jpg); z-index: -9999; ; background-repeat: no-repeat; background-size: cover;">
</div>
<div class="pageInd"></div>
<div class="general">
    <h1>PROJECTS</h1>
    <div class="content">
        <app-projects-item imgSrc="assets/img/projects/2.jpg" date="April 27.04.2016" title="Verdi: Rigoletto">
            Rigoletto - a new opera production in the Opera Studio at the Tchaikovsky National Music Academy of Ukraine,
            Kiev.
            Stage-conductor - Vasyl Vasylenko
            Stage-director - Irina Dats
            <a href="http://operna-nmau.kiev.ua/rigoletto.htm">Read more</a>
        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/10.jpg" date="December 8,12, 2012"
            title="Wagner: Der Fliegende Holländer">
            Director - Mara Kurochka (Germany)

            Conductor-producer Vasyl Vasylenko

            production designers - Momme Hinrichs and Torge Möller - Fettfilm (Germany)

            The new production of Donbass Opera The Flying Dutchman by Richard Wagner was premiered in Ukraine in
            December 2012 for
            the first. This unique Ukrainian-German cultural project devoted to the 200th Anniversary of the Richard
            Wagner,
            involved work of 250 people, including prominent directors and performers from Germany and Austria: Mara
            Kurochka,
            director, Momme Hinrich and Torge Möller, scene designers.
            Ghost ship, 9 ton ship deck, 3D-effects combined with classical opera productions traditions: revived
            wedding photo,
            ghosts crawling out of the bed, see waves dashing into the auditorium... All this submerges spectators into
            the romantic
            world of Wagner's fantasies of ideal love.

            <a href="">Read more</a>
        </app-projects-item>

        <app-projects-item imgSrc="assets/img/projects/14.jpg" date="May 29, 2011" title="Puccini: Turandot">
            Director - Alexandr Lebedev (Russia)

            Coductor-producer - Vasyl Vasylenko

            Donbass Opera

            Donetsk, Ukraine

            <a href="https://www.donbassopera.com/ru/show/turandot.html">Read more</a>
        </app-projects-item>



        <app-projects-item imgSrc="assets/img/projects/3.jpg" date="December 17,18, 2011" title="Puccini: La bohème">
            Puccini: La bohème

            December 17,18, 2011

            Director - Nina Naydenova (Bulgaria)

            Coductor-producer - Vasyl Vasylenko

            Donbass Opera

            Donetsk, Ukraine

            <a href="https://www.donbassopera.com/ru/show/bogema.html">Read more</a>
        </app-projects-item>

        <app-projects-item imgSrc="assets/img/projects/12.jpg" date="June 2,19, 2010"
            title="Tchaikovsky: Eugene Onegin">

            Tchaikovsky: Eugene Onegin

            June 2,19, 2010

            Director - Alexandr Lebedev (Russia)

            Coductor-producer - Vasyl Vasylenko

            Donbass Opera

            Donetsk, Ukraine
            <a href="https://www.donbassopera.com/ru/show/evgeniy-onegin.html">Read more</a>
        </app-projects-item>


        <app-projects-item imgSrc="assets/img/projects/9.jpg" date="October 1, 2, 2009"
            title="Prokofiev: Romeo and Juliet">

            Choreographer - Eugenia Hasyanova

            Conductor-producer - Vasyl Vasylenko
            <a href="">Read more</a>
        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/5.jpg" date="October 26, 2007" title="Adan: Le Corsaire">
            Choreographer - Eugenia Hasyanova

            Conductor-producer - Vasyl Vasylenko

            <a href="https://www.donbassopera.com/ru/show/romeo-i-dzhuletta-odnoaktnyy-balet.html">Read more</a>
        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/11.jpg" date="March 3, 2006" title="Verdi: Falstaff">
            Director - Alexandr Lebedev (Russia)

            Coductor-producer - Vasyl Vasylenko

            Donbass Opera

            Donetsk, Ukraine

            <a href="https://www.donbassopera.com/ru/show/romeo-i-dzhuletta-odnoaktnyy-balet.html">Read more</a>
        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/16.jpg" date="October 28, 2006"
            title="Amirof: Thousand and One Arabian Nights">
            Choreographer - Eugenia Hasyanova

            Conductor-producer - Vasyl Vasylenko

            <a href="https://www.donbassopera.com/ru/show/romeo-i-dzhuletta-odnoaktnyy-balet.html">Read more</a>
        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/15.jpg" date="December 24,25, 2005"
            title="Dankevych: Bohdan Khmelnytsky">

            Donetsk National Academic Opera & Ballet Theatre (UKRAINE)
            The National Ukrainian Opera after by composer K.Dankevych - Bohdan Khmelnytsky.
            The premiere was dedicated to the 410th anniversary of Hetman Bohdan Khmelnytsky and the 100 - anniversary
            of the
            composer Konstantin Dankevych. To realize this ambitious nationwide project was to attract the best creative
            forces in
            Ukraine - VASYL VASYLENKO (author of the new musical version of Opera, conductor - director), YEVHEN
            STANKOVYCH the
            composer (musical version of the finale of the opera), VASYL VOVKUN (stage director), TADEI and MICHAEL
            RYNZAK (artists
            - directors of the Lviv National Opera and Ballet), OKSANA ZINCHENKO (costume designer, Lviv), VIKTOR
            POKHYLENKO
            (choreographer - director, Kirovograd).
            <a href="https://www.donbassopera.com/ru/show/bogdan-hmelnickiy.html">Read more</a>
        </app-projects-item>

        <app-projects-item imgSrc="assets/img/projects/13.jpg" date="November 12, 2005"
            title="Donizetti:	L’elisir d’amore">
            Director - Valentina Kurkchi-Maxina

            Coductor-producer - Vasyl Vasylenko

            Donbass Opera

            Donetsk, Ukraine

            <a href="https://www.donbassopera.com/ru/show/lyubovnyy-napitok.html">Read more</a>
        </app-projects-item>

        <app-projects-item imgSrc="assets/img/projects/7.jpg" date="October 14, 2005" title="Verdi: Othello">

            Director - Sergey Akhipchuk (Kiev)

            Coductor-producer - Vasyl Vasylenko

            Donbass Opera

            Donetsk, Ukraine

        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/5.jpg" date="December 1, 2004"
            title="Rossini: Il barbiere di Siviglia">

            Director - Anatoliy Solovianenko (Kiev)

            Coductor-producer - Vasyl Vasylenko

            Donbass Opera

            Donetsk, Ukraine
            <a href="https://www.donbassopera.com/ru/show/sevilskiy-ciryulnik.html">Read more</a>
        </app-projects-item>

        <app-projects-item imgSrc="assets/img/projects/5.jpg" date="2003" title="Verdi: Nabucco">
            Director - Sergey Akhipchuk (Kiev)

            Coductor-producer - Vasyl Vasylenko

            Donbass Opera

            Donetsk, Ukraine

            <a href="">Read more</a>
        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/5.jpg" date="2003" title="Khachaturian: Spartacus">
            Choreographer - Eugenia Hasyanova

            Conductor-producer - Vasyl Vasylenko

            <a href="https://donbassopera.com/ru/show/spartak.html">Read more</a>
        </app-projects-item>

        <app-projects-item imgSrc="assets/img/projects/5.jpg" date="May 19, 2002" title="Tchaikovsky: Sleeping Beauty">
            Choreographer - Eugenia Hasyanova

            Conductor-producer - Vasyl Vasylenko

            <a href="https://donbassopera.com/ru/show/spyashchaya-krasavica.html">Read more</a>
        </app-projects-item>

        <app-projects-item imgSrc="assets/img/projects/8.jpg" date="April 10, 2001"
            title="Donizetti: Lucia di Lammermoor">

            Director - Sergey Zuenko

            conductor-producer - Vasyl Vasylenko

            Grand Prix among all theatrical productions of the season

            For the new opera production Lucia de Lammermoor by G.Donizetti

            Odessa Academic Theatre Opera and Ballet
            <a href="https://www.youtube.com/watch?v=99LJjARPcI8&list=PL5YPcBfmBBz-Sjy4JO5ULBWVcj02RHbT7">Read more</a>
        </app-projects-item>

        <app-projects-item imgSrc="assets/img/projects/4.jpg" date="January, 1999" title="Puccini: Madam Butterfly">
            Director - Alexandr Riabikin

            Conductor-producer - Vasyl Vasylenko

            Odessa Academic Theatre Opera and Ballet

            <a href="">Read more</a>
        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/6.jpg" date="1997" title="Leoncavallo: Pagliacci">
            Director - Sergey Zuenko

            Conductor-producer - Vasyl Vasylenko

            Odessa Academic Theatre Opera and Ballet

        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/5.jpg" date="November 13. 1992"
            title="Rossini: La cambiale di matrimonio">

            Director - Petr Marushenko

            Coductor-producer - Vasyl Vasylenko

            The premiere was dedicated to the 200th anniversary

            of the composer Gioachino Rossini.

            Donbass Opera

            Donetsk, Ukraine

        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/1.jpg" date="February 21, 1991" title="Arkas: Kateryna">

            Director - Yuriy Chayka

            Conductor-producer - Vasyl Vasylenko

            Donetsk Opera House

            Donetsk, Ukraine
        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/5.jpg" date="1990" title="Offenbach: Un mari à la porte">
            Conductor-producer - Vasyl Vasylenko

            Donetsk Opera House

            Donetsk, Ukraine
        </app-projects-item>
        <app-projects-item imgSrc="assets/img/projects/5.jpg" date="1989"
            title="Menotti: The Telephone, or L’amour à trois">
            Conductor-producer - Vasyl Vasylenko

            Donetsk Opera House

            Donetsk, Ukraine
        </app-projects-item>


    </div>
</div> -->