.pageInd{
    width: 67px;
    height: 34px;
    position: fixed ;
    margin-top: 26px ;
    z-index: 1;
    right:  404px;
    z-index: 1000;
    box-shadow: inset 0px -200px 10px -196px rgb(161, 161, 161);
}
.general{
    width: 100%;
    padding: 200px 0% ;
    height: 4000px;

}
h1{
    text-align: center ;
    margin-bottom: 100px;
    color: #fff;
    z-index: 2;
}

.content{
    /* height: 100%; */
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}




@media screen and (max-width: 1044px) {
.pageInd{
    display: none ;
}
  }