.contact {
    padding: 70px;
    display: grid;
    grid-column-gap: 100px;
    grid-template-columns: 1fr 1fr;
}

.headtext {
    padding-top: 130px;
    text-align: center;
    color: white;
}

.cart1 {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
}
.item{
    padding: 30px;
}
span{
    padding: 20px;
}
.pageInd{
    width: 69px;
    height: 34px;
    position: fixed ;
    margin-top: 26px ;
    z-index: 1;
    right:  54px;
    z-index: 1000;
    box-shadow: inset 0px -200px 10px -196px rgb(161, 161, 161);
}
@media screen and (max-width: 1044px) {
.pageInd{
    display: none ;
}
  }