<div class="background" style="position: fixed ;width: 100%;height: 100% ;background-image: url(assets/img/news/news15.jpg); z-index: -9999">
</div>
<div class="pageInd"></div>
<h1 class="headtext">CONTACT</h1>
<div class="contact">
    <div class="photo" >
        <img src="assets/img/0.jpg" width="100%"  alt="lorem">
    </div>
    <div class="cart1">
        <div class="item">
            <i class="fas fa-map-marker-alt fa-1x"></i>
            <span>UKRAINE</span>
            <br>
            <i class="fas fa-user fa-1x"></i>
            <span>Christina Vasylenko (Personal assistant)</span>
            <br>
            <i class="fas fa-mobile-alt fa-1x"></i>
            <span> +38 063 623 8583 (Ukr)</span>
            <br>
            <i class="fas fa-mobile-alt fa-1x"></i>
            <span> +43 664 178 9846 (At)</span>
            <br>
            <i class="fas fa-envelope fa-1x"></i>
            <span>maestrovasylenko@gmail.com </span>
        </div>
        <div class="item" style="margin-top:40px">
            <i class="fas fa-map-marker-alt fa-1x"></i>
            <span> RUSSIA</span>
            <br>
            <i class="fas fa-user fa-1x"></i>
            <span> Yulia Lukyanova (Project coordinator)</span>
            <br>
            <i class="fas fa-mobile-alt fa-1x"></i>
            <span> +7 962 855 6818</span>
            <br>
            <i class="fas fa-envelope fa-1x"></i>
            <span>maestrovasylenko@gmail.com</span>

        </div>
    </div>
    <!-- <div class="cart2">
        <div class="form-group">
            <label for="exampleInputEmail1"> Your Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Your Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" Enter your Name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control message" id="exampleFormControlTextarea1" rows="3"></textarea>
           
        </div>
    </div> -->

</div>



<div style="height:200px;"></div>
<!-- <div class="background" style="position: fixed ;width: 100%;height: 100% ;background-color:#000000; z-index: -9999">
</div>
<div class="pageInd"></div>
<h1 class="headtext">CONTACT</h1>
<div class="contact">

    <div class="cart1">
        <div class="item">
            <i class="fas fa-map-marker-alt fa-2x"></i>
            <span>UKRAINE</span>
            <br>
            <i class="fas fa-user fa-2x"></i>
            <span>Christina Vasylenko (Personal assistant)</span>
            <br>
            <i class="fas fa-mobile-alt fa-2x"></i>
            <span> +38 063 623 8583 (Ukr)</span>
            <br>
            <i class="fas fa-mobile-alt fa-2x"></i>
            <span> +43 664 178 9846 (At)</span>
            <br>
            <i class="fas fa-envelope fa-2x"></i>
            <span>maestrovasylenko@gmail.com </span>
        </div>
        <div class="item">
            <i class="fas fa-map-marker-alt fa-2x"></i>
            <span> RUSSIA</span>
            <br>
            <i class="fas fa-user fa-2x"></i>
            <span> Yulia Lukyanova (Project coordinator)</span>
            <br>
            <i class="fas fa-mobile-alt fa-2x"></i>
            <span> +7 962 855 6818</span>
            <br>
            <i class="fas fa-envelope fa-2x"></i>
            <span>maestrovasylenko@gmail.com</span>

        </div>
    </div>
</div>



<div style="height:200px;"></div> -->