<div class="background"
    style="position: fixed ;width: 100%;height: 100% ;background-color: #efebe8; z-index: -9999; background-repeat: no-repeat; background-size: cover;">
</div>
<div class="pageInd"></div>
<div class="photo">
    <img src="assets/img/0.jpg" alt="">
    <h1>Contact</h1>
</div>
<div class="navBar">
</div>

<div class="contact">
    <!-- <div class="photo1" >
        <img src="assets/img/0.jpg" width="100%"  alt="lorem">
    </div> -->
    <div class="cart1">
        <div class="item">
            <i class="fas fa-map-marker-alt fa-1x" style="color:rgba(0, 0, 0, 0)"></i>
            <span class="test">MANAGEMENT DETAILS</span>
            <br>
            <i class="fas fa-map-marker-alt fa-1x"></i>
            <span>UKRAINE</span>
            <br>
            <i class="fas fa-user fa-1x"></i>
            <span>Managing Director: Christina Vasylenko</span>
            <br>
            <i class="fas fa-mobile-alt fa-1x"></i>
            <span>  +38 063 623 8583 (Ukr)</span>
            <br>
            <i class="fas fa-mobile-alt fa-1x"></i>
            <span> +43 677 633 99188 (At)</span>
            <br>
            <i class="fas fa-map-marker-alt fa-1x" style="color:rgba(0, 0, 0, 0)"></i>
            <span class="test" style="text-transform:uppercase;font-weight: inherit;">Ukrainian classical Artist management</span>
            <br>
            <i class="fas fa-envelope fa-1x"></i>
            <span>maestrovasylenko@gmail.com </span>
        </div>
        <div class="item" style="margin-left:100px">
            <i class="fas fa-map-marker-alt fa-1x" style="color:rgba(0, 0, 0, 0)"></i>
            <span class="test">PRESS & PUBLIC RELATIONS</span>
            <br>
            <i class="fas fa-map-marker-alt fa-1x"></i>
            <span> RUSSIA</span>
            <br>
            <i class="fas fa-user fa-1x"></i>
            <span>Press & PR coordinator: Yulia Lukyanova </span>
            <br>
            <i class="fas fa-mobile-alt fa-1x"></i>
            <span> +7 962 855 6818</span>
            <br>
            <i class="fas fa-envelope fa-1x"></i>
            <span>maestrovasylenko@gmail.com</span>
        </div>
        <div class="item" style="margin-left:100px">
                <i class="fas fa-map-marker-alt fa-1x" style="color:rgba(0, 0, 0, 0)"></i>
                <span class="test">WEBSITE</span>
                <br>
                <i class="fas fa-map-marker-alt fa-1x"></i>
                <span>Ukraine</span>
                <br>
                <i class="fas fa-user fa-1x"></i>
                <span>Olga & Zakhar Andrienko`s company  </span>
                <br>
                <i class="fas fa-mobile-alt fa-1x"></i>
                <span> +38 096 441 9527</span>
                <br>
                <i class="fas fa-envelope fa-1x"></i>
                <span>zaharandrienko88@gmail.com</span>
        </div>
    </div>