.pageInd{
    width: 72px;
    height: 34px;
    position: absolute ;
    margin-top: -84px ;
    z-index: 1;
    left: 493px;
    z-index: 1000;
    box-shadow: inset 0px -200px 20px -196px rgb(255, 255, 255);
}