.newsContainer {
    display: grid;
    grid-template-columns: 10fr 20fr 5fr;
    margin-top: 70px;
    height: 400px;
    padding: 0px 40px;
}

img {
    /* height: 350px; */
    width: 350px;
}

p {
    font-size: 120%;
}

h3 {
    margin-top: 40px;
}

.newsImg {
    margin: 0px 20px;
    height: 350px;
    width: 350px;
    overflow: hidden;
}
