<div class="background" style="position: fixed ;width: 100%;height: 100% ;background-color: #efebe8; z-index: -9999"></div>
<div class="pageInd"></div>
<div class="photo">
        <img src="assets/img/vv1.jpg" alt="">
    <h1>Gallery</h1>
</div>
<div class="navBar">
    <a (click)="showPortraits()">Portraits</a>
    <a (click)="showStage()">Stage</a>
    <a (click)="showBackstage()">Backstage</a>
    <a (click)="showOpera()">Opera productions</a>
    <a (click)="showPersonal()">Personal</a>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>