.projectsContainer {
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    margin: 0% 20%;
    margin-top: 50px;
    width: 60%;
    color: rgb(255, 255, 255);
}

img {
    height: auto;
    width: 100%;
}

p {
    font-size: 120%;
}

h3 {
    margin-top: 40px;
}

.newsImg {
    margin: 0px 0px;
    height: 315px;
    width: 100%;
    overflow: hidden;
    background-color: rgb(53, 53, 53);

}