<div class="background" style="position: fixed ;width: 100%;height: 100% ; background-color: #000000; z-index: -9999">
</div>
<div class="pageInd"></div>
<div class="general">
    <h1>THE NEWS</h1>

    <div class="content">
        <app-new-award imgSrc="assets/img/news1.jpg" name="26.02.2019 CARMEN at Dnipro Opera House, Ukraine"
            post="On February 26th, maestro Vasylenko conducts CARMEN by Bizet at the Dnipro Opera House. The Yuriy Chaika production features Olga Us as Carmen, Andrei Romanenko as Don Jose, Oleksandr Forkushak as Escamillo and Olena Samoylova as Micaela.">
        </app-new-award>
        <app-new-award imgSrc="assets/img/news3.jpg" name=" 30.12.2018-31.12.2018 New Year’s Eve Concerts with the National Presidential Orchestra of Ukraine"
            post="Leading up to the new year, Vasyl Vasylenko joins the National Presidential Orchestra of Ukraine for two concerts featuring music by Strauss at the National Philharmonic Hall of Ukraine and National Academic Theatre named after I. Franko, Kyiv.">
        </app-new-award>
        <app-new-award imgSrc="assets/img/news2.jpg" name="22.12.2018 Concert 'Viva Puccini' performes Vasyl Vasylenko"
            post="On the 22nd of December, maestro Vasylenko with Kateryna Strashchenko (soprano), Mykola Shuliak (tenor), Anatolii Yurchenko (baritone) and the National Opera of Ukraine perform the gala-concert 'VIVA PUCCINI' which is dedicated to the 160th birth anniversary of Giacomo Puccini. The programme includes overtures, arias and duets from the operas La boheme, Tosca, Turandot, Manon Lescaut, Gianni Schicchi, Madama Butterfly.">
        </app-new-award>
        <app-new-award imgSrc="assets/img/news4.jpg" name="13.11.2018 Maestro Vasylenko & XVII Solomiia Krushelnytska International Opera Festival "
            post="Vasyl Vasylenko performs Madama Butterfly on the opening night of the XVII Solomiia Krushelnytska International Opera Festival. 
            The production is directed by Anatoliy Lymarev and spotlight performance by Melba Ramos (Volksoper Vienna) as Cio Cio San, Mykhailo Malafiy as Pinkerton (Stockholm Royal Opera), Yana Voytyuk as Suzuki, Yuriy Trytsetskyy as Bonza, Vitaliy Voytko as Goro (Lviv Opera House). 
            Photo made by #lvivopera">
        </app-new-award>
        <app-new-award imgSrc="assets/img/news5.jpg" name="01.10.2018 Vasyl Vasylenko & Kyiv Music Fest 2018"
            post="Vasyl Vasylenko and the National Presidential Symphony Orchestra of Ukraine perform the concert 'Musical Dialogue: Ukraine-China' on the International Music Day and on the Day of Proclamation of the People's Republic of China in the framework of the XXIX International Kyiv Music Fest.">
        </app-new-award>
        <app-new-award imgSrc="assets/img/news6.jpg" name="22.09.2018 Vasyl VAsylenko presents the recital of Andrii Goniukov (the soloist of Chicago Lyrics Opera)"
            post="On September 22, the maestro Vasyl Vasylenko and the National Presidential Symphony Orchestra of Ukraine present a concert 'Сузір'я оперних шедеврів' at the National Philharmonic of Ukraine, with the participation of Andriy Gonyukov, soloist of the Chicago Lyrics Opera (USA) and the National Opera of Ukraine (Kyiv) and soprano Valentina Andreeva. The program includes the arias of Mozart, Gounod, Verdi, Massnet, Rossini, Mussorgskyi, Lysenko, Hulak-Artemovsky, Bilash.">
        </app-new-award>
        <app-new-award imgSrc="assets/img/news7.jpg" name="21.09.2018 Interview: Radio Svoboda "
            post="Classical music is a pass to the 'civilized club' - Vasyl Vasylenko
            ">
        </app-new-award>
        <a href="https://www.radiosvoboda.org/a/29502632.html?fbclid=IwAR3iaYTzDxv18WpTFhjmGoaqaSHHARAlkcfQO8vIIhmwwgE6OJjTUh9dnOA">Read full article </a>
        
    </div>



</div>