.general{
    width: 100%;
    padding: 200px 0% ;
    

}
.general h1{
    text-align: center ;
    margin-bottom: 100px;
    color: #fff;
    
}
.item2{
    color: #fff;
    
}
.item1{
    
}

.content{
    width: 50%;
     display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin-left: 30% ; */
}



.pageInd{
    width: 54px;
    height: 34px;
    position: fixed ;
    margin-top: 26px ;
    z-index: 1;
    right:  501px;
    z-index: 1000;
    box-shadow: inset 0px -200px 10px -196px rgb(161, 161, 161);
}
@media screen and (max-width: 1044px) {
.pageInd{
    display: none ;
}
  }