<div class="background" style="position: fixed ;width: 100%;height: 100% ; background-color: #000000; z-index: -9999">
</div>
<div class="pageInd"></div>
<div class="general">
    <h1>THE NEWS</h1>
    <div class="content">
        <!-- <app-card date="02.04.2017" title="La Boheme" bui="Caird Hall" address="Dundee, UK"></app-card> -->
        <!-- <app-card date="30.03-01.04.2017" title="La Boheme / Nabucco / Aida" bui="Royal Concert Hall" address="Glasgow, UK"></app-card> -->
        <!-- <app-card date="27,28.03.2017" title="La Boheme / Aida" bui="Royal Concert Hall" address="Glasgow, UK"></app-card> -->
        <!-- <app-card date="27,28.03.2017" title="La Boheme / Aida" bui="Royal Concert Hall" address="Glasgow, UK"></app-card> -->
        <!-- <app-card date="27,28.03.2017" title="La Boheme / Aida" bui="Royal Concert Hall" address="Glasgow, UK"></app-card> -->
        <!-- <app-card date="27,28.03.2017" title="La Boheme / Aida" bui="Royal Concert Hall" address="Glasgow, UK"></app-card> -->
        <!-- <app-card date="27,28.03.2017" title="La Boheme / Aida" bui="Royal Concert Hall" address="Glasgow, UK"></app-card> -->
        <div class="item1"><img src="assets/img/news1.jpg" alt=""></div>
        <div class="item2">
            <h2>Header</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt maxime incidunt beatae suscipit accusamus ullam</p>
        </div>
    </div>
</div>