<div class="pageInd"></div>
<div class="intro">
  <h1>BIOGRAPHY</h1>
  <div class="content1">
    <h2>Vasyl Vasylenko</h2>
    <p>
      Vasyl Vasylenko is currently the Music director and Chief conductor of the
      Kyiv Opera Theatre, Conductor and Music director of the National
      Presidential Symphony Orchestra of Ukraine, Professor at the Tchaikovsky
      National Music Academy of Ukraine, and conductor of the Opera studio by
      Tchaikovsky National Music Academy in Kyiv. Former Music director and
      Chief conductor of Donbas Opera (Donetsk National Opera Theatre), Artistic
      Director and Chief Conductor of the International Opera Art Festival
      “Zolota Korona” (Golden Crown). He is also the former General manager,
      Artistic director, and conductor of the Odesa Opera House. President and
      owner of the S. Prokofiev Charitable Foundation in Donetsk and Odesa
      (Ukraine). Member of the Presidium of the International Union of Musicians
      in Moscow. Laureate of the Shevchenko National Prize of Ukraine, People’s
      Artist of Ukraine, and Honorary Ambassador of Ukrainian Culture in Canada.
    </p>
  </div>
  <!-- <div class="post" [class.show]="show"> -->
  <!-- <p>"Traviata (London Royal Albert Hall, conductor Vasyl Vasylenko) has become the embodiment of genuine opera, -->
  <!-- which sparked off the envy of our leading local and state opera companies."</p> -->
  <!-- <h3>Daily Post</h3> -->
  <!-- </div> -->
</div>
<div class="content2">
  <p class="bioP first">
    Maestro Vasylenko was a conductor trainee in the Bolshoi Theatre in Moscow
    under the supervision of outstanding maestro Fuat Mansurov. During his
    training, he attended master classes of Evgeny Svetlanov, Alexander Lazarev,
    Mark Ermler, Algis Juraitis (conducting), Pavel Lisitsian, Ivan Kozlovsky,
    Mark Reizen (vocal), and Boris Pokrovsky (stage directing).
  </p>
  <p class="bioP">
    Being General Director and Artistic Manager of Odessa Opera House Vasyl
    Vasylenko devoted 10 years of his artistic life to the renaissance of this
    masterpiece of world architecture and saving the artistic potential of the
    world-famous theatre. That period was marked by extraordinary creative
    enthusiasm, bright premieres of operas and ballets, triumphant foreign tours
    in the USA, Great Britain, Switzerland, and Lebanon, the creation of the
    International Opera Art Festival “Zolota Korona” (Golden Crown), and it was
    truly a creative feat of the troupe during the theatre’s total
    reconstruction.
  </p>
  <p class="bioP">
    In 2002 for the first time in history, maestro Vasylenko represented
    Odessa’s opera troupe in a triumphant tour of 25 cities in the United
    Kingdom. The opera "La Traviata" in London’s Royal Albert Hall under his
    conducting received brilliant critical acclaim from the international media,
    including Daily Post.
  </p>
  <p class="bioP">
    Since 2003 Vasyl Vasylenko has been Music Director and Principal Conductor
    of the Donbas Opera in Donetsk, Sergey Prokofiev’s birthplace. Many music
    projects (operas: Nabucco, Turandot, Othello, L'elisir d'amore, Eugen
    Onegin, La Boheme; ballets: Romeo et Juliet, Le Corsaire, Thousand and One
    Arabian Nights, Spartacus, Sleeping Beauty) in the Donbas region’s capital
    are successfully implemented thanks to maestro Vasylenko. He was the first
    Ukrainian conductor who staged "Falstaff" by G. Verdi in Ukraine as well as
    the Ukrainian opera "Bogdan Khmelnitsky" by K. Dankevych at the Donetsk
    opera stage. He is also the author of the unique project – the first stage
    production in Ukraine of the opera "Der Fliegende Holländer", dedicated to
    the 200th anniversary of R. Wagner with the participation of stage director
    Mara Kurotschka in cooperation with cult-famous director Philipp Stölzl,
    production scenographers FETT FILM Company - Momme Hinrichs and Torge Möller
    from Germany. Thus, due to the efforts of maestro Vasylenko, Donbas Opera
    became a flagship among opera houses of Ukraine in terms of creative work
    and repertoire policy.
  </p>
  <p class="bioP">
    Vasyl Vasylenko is an Artistic Director of the International Opera Art
    Festival Zolota Korona/Golden Crown (1998), one of the most prestigious
    forums of classical music in Ukraine. Over the years Golden Crown has
    represented around one hundred worldwide opera stars and conductors from all
    over the world, as well as from La Scala, Vienna Staatsoper, Warsaw Opera,
    Zagreb Opera, Royal Czech Opera House, the MET, Bolshoi Theatre, Mariinsky
    Theatres of Russia, National Opera House of Belarus and Moldova National
    Opera House.
  </p>
  <p class="bioP">
    Maestro Vasylenko has participated in many international festivals of opera
    and ballet art in the USA, Canada, Great Britain, Germany, Switzerland,
    Spain, Croatia, Romania, Moldova, Belarus, and Russia. In 2004 he headed the
    International Opera Art Festival Irina Arkhipova Presenting as a principal
    conductor. He also conducted the opera "Eugeny Onegin" featuring Irina
    Arkhipova at Chelyabinsk Opera Theatre in Russia.
  </p>
  <p class="bioP">
    Vasyl Vasylenko collaborated with such well-known orchestras and opera
    companies as Mississauga Opera House and New World Philharmonic Orchestra
    and Choir of Ottawa and Montreal (Canada), Scottsdale Symphony Orchestra of
    Arizona (the USA), Zagreb National Opera Theatre (Croatia), Constanta and
    Krajova Opera Houses (Romania), National Bolshoi Opera Theatre of Belarus,
    National Opera House of Moldova, National Opera Theatre of Sakha Republic,
    Chelyabinsk State Academic Opera and Ballet Theatre (Russia), National Opera
    of Ukraine, National Symphony Orchestra of Ukraine and Symphonic Orchestra
    of National Radio Company of Ukraine in Kyiv, Lviv National Academic Opera
    and Ballet Theatre (Ukraine), Odesa National Philharmonic Orchestra
    (Ukraine), etc.
  </p>
  <p class="bioP">
    For 10 years at the invitation of the Spanish Concerеlirica company maestro
    Vasylenko has been representing Donbas Opera with great success at the
    Spanish music festivals in Toledo, Alicante, Málaga, San-Fernando,
    Algeciras, Lalinea, Cadiz, Marbella, Granada, León, Torremolinos, Santander
    in cooperation with opera singers, such as Lucrecia Garcia, Carlos Almaguer,
    Rosa Lee Tomson, Miki Mori, Andres Veramendi, Kathleen Berger, Martin Iliev,
    Byung Lee Sam, Christina Obregon, George Meladze and many others.
  </p>
  <p class="bioP">
    He also collaborated with such famous opera singers as Luis Quilico,
    Lyudmila Shemchuk, Paata Burchuladze, Anatoliy Kotcherga, Walter Fink,
    Shalva Mukeria, Andreas Makko, Stefan Stol, David Jim, Anatoliy
    Solovyanenko, Vladislav Pyavko, Badri Maisuradze, Emilia Oprya, Mauro
    Augustini, Maria Bieshu, Victor Tchernomortsev, Ioanna Karvelas, Yury
    Nechaev, Vitaliy Bilyy, Victoria Lukyanets, Eugeniy Akimov, Alexander
    Tsymbalyuk, Ludmila Magomedova, Evgeniy Orlov, Manami Hama, Maurizio
    Graziani, Mati Palm, Dmytro Popov, Maria Knapic, Dan Serbak, Andriy
    Bondarenko, Andrii Goniukov including ballet stars Vladimir Vasiliev, Nina
    Ananiashvili, Marian Walter, Ulvi Azizov, Vadim Pisarev, Irina Golub, Eugene
    Ivanchenko and others.
  </p>
  <p class="bioP">
    For some years Vasyl Vasylenko was a member of The National Council on
    Culture and Spirituality under the President of Ukraine. He is also a member
    of the Presidium of the International Union of Musicians in Russia (2002), a
    Professor of S.S.Prokofiev State Music Academy in Donetsk, and a President
    of the S.Prokofiev Charity Fund.
  </p>
  <p class="bioP">
    In 2015 maestro Vasyl Vasylenko joined the National Presidential Orchestra
    of Ukraine. The orchestra under his leadership conducts successful concert
    activities related to the presentation of the work of famous Ukrainian
    artists and the popularization of Ukrainian musical heritage. During this
    period, the orchestra presented a number of bright creative projects, in
    particular, the cycle of concerts "Constellation of Opera Masterpieces" with
    the participation of Ukrainian opera stars Liudmyla Monastyrska, Valentyn
    Dytiuk, Tetiana Ganina. Andrii Goniukov, Kateryna Strashchenko, Mykola
    Shulyak, and others, the projects "Music Dialogue: Ukraine-China" (2018),
    "Ukraine - Austria" (2019), and "Ukraine - Argentina" (2021) within the
    framework of the modern music festival Kyiv Music Fest, as well "Piano
    Extravaganza" concerts with the participation of Danish pianist Elizabeth
    Nelsen and Argentine clarinetist Mariano Rey. In support of Donbas refugee
    artists, the orchestra held a unique gala concert "Donbas Opera Echoes of
    Voices" with the participation of leading artists and soloists of the
    Donetsk Opera Theater. In December (2019 and 2020), on the occasion of the
    birthday of the deceased Hero of Ukraine, opera singer Vasyl Slipak, with
    the support of the "Music Battalion" and the Vasyl Slipak Foundation, an
    Evening of Memory of the outstanding opera singer was held under the baton
    of maestro Vasylenko. To the 80th anniversary of the Babi Yar tragedy in
    Kyiv, the orchestra dedicated the performance of the legendary symphonic
    poem of the Israeli composer Baruch Berliner - "GENESIS - Creation of the
    World" (produced by N. Slutsker, Israel). On August 24, 2020, the National
    presidential symphony orchestra under the direction of Maestro Vasylenko
    presented a solemn gala concert for the Independence Day of Ukraine on
    Sofiyivska Square in Kyiv with the participation of Ukrainian opera and pop
    stars in the presence of the President of Ukraine Volodymyr Zelensky. At the
    same time, in May 2021, the maestro staged a production of S. Gounod's
    "Romeo and Juliet" with great success on the stage of the Kyiv Opera Theatre
    and soon led this theater company as the Chief conductor and music director.
  </p>
  <p class="bioP">
    On the eve of Defender's Day, maestro Vasylenko held a grand charity concert
    of the Ukrainian music "HERZ DER UKRAINE" with the participation of the
    National presidential symphony orchestra of Ukraine, and world-famous
    Ukrainian artists - Lyudmyla Monastyrska, Dmytro Popov, Andriy Bondarenko,
    Andrii Goniukov and virtuoso violinist Dmytro Tkachenko at the Berlin
    Philharmonic. Proceeds from the concert, which was held under the patronage
    of the Embassy of Ukraine in Germany, at the initiative of the Public
    organization "Ukrainian Forum" and with the participation of the Ukrainian
    classical artistic agency UCAM, were aimed at supporting the Armed Forces,
    as well as maintaining a house for refugees in the Lviv region.
  </p>
</div>
<div class="content3"></div>
<div class="content4">
  <p class="bioP">
    Vasyl Vasylenko is a famous Ukrainian conductor, a founder of a great number
    of international art projects in the field of classical music art, an
    initiator of more than 30 opera and ballet productions, a winner of the
    title “Leader of XXI century”, “Honored Ambassador of Ukrainian culture in
    Canada”, “People’s Artist of Ukraine”. For his significant contribution to
    the development of the art of classical music, he was awarded the Order of
    Merit, Grade III, Commendation Certificate of President of Ukraine, “Best
    Artist of the year. Face of culture - 2006” Award.
  </p>
  <!-- <div class="btndow">
    <div class="download">
      <div class="black"></div>
      <a href="assets/pdf/V_Vasylenko_Bio.pdf" download>
        <div class="front">Download biography here</div>
      </a>
    </div>

    <div class="download">
      <div class="black"></div>
      <a href="assets/pdf/Vasyl_Vasylenko_REPERTOIRE_Eng.pdf" download>

        <div class="front">Download repertoire here</div>
      </a>
    </div>
  </div> -->
</div>
