.news {
    background-color: #efebe8;
    width: 100%;
    height: 400px;
    padding-top: 60px;
    color:black;
}

.btn {
    /*height: 25px;*/
    /*line-height: 25px;*/
    text-align: center;
    font-size: 13px;
    background-color: black;
    color: #fff;
    border-radius: 2px;
    display: inline-block;
    
}