<div class="news">
  <div class="container">

    <h2>Performances</h2>
    <table class="table">
      <thead>
        <tr>

          <th scope="col">DATE</th>
          <th scope="col">PRODUCTION</th>
          <th scope="col">VENUE</th>
          <th scope="col">LOCATION</th>
          <th scope="col">TICKETS</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>February 26, 2019 </td>
          <td>Carmen</td>
          <td>Dnipro Opera House</td>
          <td>Dnipro,Ukraine</td>
          <td> <a href="https://dnepr.internet-bilet.ua/uk/events/item.html?event_id=27572&partner=dnopera" class="btn" target="_blank">
          TICKETS
            </a></td>
        </tr>
        <tr>

          <td>December 30, 31, 2018</td>
          <td>Strauss New Year Concert</td>
          <td> Ivan Franko National Academic Drama Theater</td>
          <td>Kyiv,Ukraine</td>
          <td><a href="https://kiev.karabas.com/novorichnij-shtraus-koncert-31-12" class="btn" target="_blank">
            TICKETS
              </a></td>
        </tr>
        <tr>

          <td>December 22, 2018</td>
          <td>Concert "Viva Puccini"</td>
          <td>National Philharmonic of Ukraine</td>
          <td>Kyiv,Ukraine</td>
          <td><a href="https://kontramarka.ua/ru/dzpuccini-nacprezidentskij-orkestr-50412.html" class="btn" target="_blank">
            TICKETS
              </a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>