<div class="news">
  <div class="container">

    <h2>Performances</h2>
    <table class="table">
      <thead>
        <tr>

          <th scope="col">DATE</th>
          <th scope="col">LOCATION</th>
          <th scope="col">VENUE</th>
          <th scope="col">TICKETS</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>September 8, 2018</td>
          <td>Kyiv,Ukraine</td>
          <td>Hall</td>
          <td> <a href="https://concert.ua/ru/catalog/kyiv/concerts?gclid=CjwKCAjw8uLcBRACEiwAaL6MSYQ-jz1Bv9qEVmGlEnwLl8z3CkCOhkTG-LBjBsfPX-iqnmbOhvWV3xoCwmwQAvD_BwE" class="btn" target="_blank">
          TICKETS
            </a></td>
        </tr>
        <tr>

          <td>October 01, 2018</td>
          <td>Kyiv,Ukraine</td>
          <td>Hall</td>
          <td><a href="https://concert.ua/ru/catalog/kyiv/concerts?gclid=CjwKCAjw8uLcBRACEiwAaL6MSYQ-jz1Bv9qEVmGlEnwLl8z3CkCOhkTG-LBjBsfPX-iqnmbOhvWV3xoCwmwQAvD_BwE" class="btn" target="_blank">
            TICKETS
              </a></td>
        </tr>
        <tr>

          <td>October 8, 2018</td>
          <td>Kyiv,Ukraine</td>
          <td>Hall</td>
          <td><a href="https://concert.ua/ru/catalog/kyiv/concerts?gclid=CjwKCAjw8uLcBRACEiwAaL6MSYQ-jz1Bv9qEVmGlEnwLl8z3CkCOhkTG-LBjBsfPX-iqnmbOhvWV3xoCwmwQAvD_BwE" class="btn" target="_blank">
            TICKETS
              </a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>