.NewPost{
    width: 100%;
    margin-top: 100px; 
    height: auto;
    overflow: hidden;
}

img{
    height: auto;
    width: 200px;
    float:left;
    margin: 0px 30px 0px 0px;
}
p{
    font-size: 120% ;
    margin: 0%;
}
h3{
    margin-top: 15px;
}
/* .img{
    height: 100%;
    width: 20%;
    background-color: rgb(85, 85, 85) ;
    float: left;
    margin: 0px 20px;
} */
.content{
    float: left;
    width: 100%;
}

@media screen and (max-width: 1070px){
    .NewPost{
        margin-top: 90px;
    }
    h3{
        font-size: 130%;
        margin-top: 10px;
    }
    p{
        font-size: 100%;
    }
}

@media screen and (max-width: 530px){
    img{
        width: 150px;
        margin: 0px 15px 0px 0px;
    }
    h3{
        font-size: 105%;
        margin-top: 8px;
    }
    p{
        font-size: 90%;
    }
    .NewPost{
        margin-top: 60px;
    }
}