<div class="content">
  <blockquote class="blockquote text-right" [class.show]="show">
    <p>"Traviata (London Royal Albert Hall, conductor Vasyl Vasylenko) has become the embodiment of genuine opera,
     which sparked off the envy of our leading local and state opera companies."</p>
    <footer class="blockquote-footer">Daily Post

    </footer>
  </blockquote>
  <div class="container">

    <p class="item">
      Vasyl Vasylenko is currently a conductor of the National Presidential Symphony Orchestra of Ukraine, Opera Studio Theatre
      and professor of the Tchaikovsky National Music Academy of Ukraine, Kiev. Former Music Director and a Principal Conductor
      of Donbass Opera/ The National Academic Opera and Ballet Theatre in Donetsk, an Artistic Director of the International
      Opera Art Festival Zolota Korona (Golden Crown). He is also a former General Director and an Artistic Manager of Odessa
      Opera House, a conductor of opera state theatres in Kharkov and Odessa, Ukraine.
    </p>
    <a href="/About" class="link">Read More »</a>
  </div>
</div>