<div class="pageInd"></div>
<div class="general">
  <h1>REVIEWS</h1>
  <app-new-review name="Alena Arseneva, Bourgeois" post="Even though London and Kiev are abound with famous conductors, maestro Vasyl Vasylenkois predestined for a “full house”, as he is gifted by his ability to take over orchestras and audiences. This is a common viewpoint of music critics from different mass media, as he has strikingly catching energy">
  </app-new-review>

  <app-new-review name="Scottsdale Star, USA" post="The Ukrainian maestro in his debut in the USA showed the unsurpassed talent of communication with the orchestra and high professional attitude to whatever music he performs… The performance was fascinating">
  </app-new-review>

  <app-new-review name="Telegraph, Romania" post="This evening conductor Vasyl Vasylenko was on par with Verdi, like his close friend!.. In Aida he was able to present wonderfully plausible Verdi. He introduced us into the mystery of Verdi’s music. He read it touchingly, skillfully passing from decline to culmination and he managed to convince and astonish us">
  </app-new-review>

  <app-new-review name=" Tribune Scottsdale Progress, USA" post="The evening was if using the expression heard among the audience – “divine”… When the Ukrainian maestro ascended on the conductor’s podium we were amazed by his unusual treatment of the orchestra. The graceful language of his gestures when performing Symphony No 4 by Tchaikovsky charmed the orchestra and public by effortless almost choreographic movements…">
  </app-new-review>

  <app-new-review name="Ukrainska Kultura, Ukraine" post="Vasyl Vasylenko is extremely confident on the conductor’s podium. Here, he is like a prudent captain who leads his crew through the ocean of sounds, intonations, feelings. The symphony orchestra is like a giant instrument, a single whole, the organism with its nerves, heart and breath. All these are concentrated in the maestro’s slim fingers.">
  </app-new-review>

  <app-new-review name="Oberlandishes Volksblatt/Echo von Grindelwald, UK" post="Starting with the first note of Madama Butterfly under the stewardship of Vasyl Vasylenko the spectators were aware that they should get rid of their doubts and enjoy the absorbing action.">
  </app-new-review>

  <app-new-review name="Kultur, Germany" post="The orchestra conducted by Vasyl Vasylenko was beautiful, and the intonation sounded confident. At the end there was a rhythmic applause and loud “Bravo” for the performance which was musically beautiful.">
  </app-new-review>

  <app-new-review name="Slobodna Dalmacja, Croatia" post="Vasylenko’s high mastery to disclose the emotional nerve of every music piece has been admired by the audience and the orchestra of Croatian National Opera.">
  </app-new-review>

  <app-new-review name="Accent/Tribune Newspapers, USA" post="The evening was – to use a word I heard whispered behind me – awesome. We knew we were in for an unusual treat when the Ukrainian maestro Vasyl Vasylenko mounted the podium and led the orchestra in the Lysenko/Revutsky overture to Taras Bulba. Vasylenko’s body language was a joy to watch, filled with graceful, almost choreographed, gestures.">
  </app-new-review>

  <app-new-review name="Yakutia, Sakha Republic" post="On the opening day (the International Festival of Opera Art “Irina Arkhipova presenting”)… the house was full…  TV cameras were everywhere (Quite an event!)... Maestro Vasyl Vasylenko was on the conductor’s podium in our theatre for the first time. Our orchestra under his stewardship performed fascinatingly.">
  </app-new-review>

  <app-new-review name="Theatre, Ukraine" post="The conductor and stage director of Doniccetti’s  Lucia di Lammermoor Vasyl Vasylenko determined the principal “nerve” of the opera which was the climax of the latest festival.">
  </app-new-review>
  
  <app-new-review name="Daily Post" post="Traviata (London Royal Albert Hall, conductor Vasyl Vasylenko) has become the embodiment of genuine opera, which sparked off the envy of our leading local and state opera companies.">
  </app-new-review>


</div>