<div class="general">
  <h1>REVIEWS</h1>
  <app-new-review name="Alena Arseneva, Bourgeois" post="Even though London and Kiev are abound with famous conductors, maestro Vasyl Vasylenkois predestined for a “full house”, as he is gifted by his ability to take over orchestras and audiences. This is a common viewpoint of music critics from different mass media, as he has strikingly catching energy"></app-new-review>
  <app-new-review name="Scottsdale Star, USA" post="The Ukrainian maestro in his debut in the USA showed the unsurpassed talent of communication with the orchestra and high professional attitude to whatever music he performs… The performance was fascinating"></app-new-review>
  <app-new-review name="Telegraph, Romania" post="This evening conductor Vasyl Vasylenko was on par with Verdi, like his close friend!.. In Aida he was able to present wonderfully plausible Verdi. He introduced us into the mystery of Verdi’s music. He read it touchingly, skillfully passing from decline to culmination and he managed to convince and astonish us"></app-new-review>
</div>
