<div class="general" style=" width: 92%; margin-left: 5.5%;">
    <h1 class="title" style="text-align: center ; margin: 120px 0px; color: #fff;z-index: 2;">PORTRAITS</h1>
    <app-card imgSrc="assets/img/news/news1.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/news/news2.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/news/news3.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/news/news4.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/news/news5.jpg" date="02.04.2017" title="La Boheme"></app-card>
</div>

<!-- 
<div class="images">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/pimg1.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/pimg1.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/pimg1.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div> -->
