<!-- <div class="pageInd"></div> -->
<div class="general" style=" width: 82%; margin-left: 10.5%;">
    <h1 class="title" style="margin-top:50px">PORTRAITS</h1>
    <app-card imgSrc="assets/img/gallery/3.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/2.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/6.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/4.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/5.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/1.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <h1 class="title">ON STAGE</h1>
    <app-card imgSrc="assets/img/gallery/3.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/2.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/6.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/4.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/5.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/1.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <h1 class="title">OFF STAGE</h1>
    <app-card imgSrc="assets/img/gallery/3.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/2.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/6.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/4.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/5.jpg" date="02.04.2017" title="La Boheme"></app-card>
    <app-card imgSrc="assets/img/gallery/1.jpg" date="02.04.2017" title="La Boheme"></app-card>
</div>

<!-- 
<div class="images">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/pimg1.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/pimg1.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="assets/img/pimg1.jpeg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div> -->
