/* .images {
    width: auto;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    margin: 50px;
} */
.general{
    width: 92%;
    margin-left: 5.5%;
}
h1{
    text-align: center ;
    margin: 120px 0px;
    color: #fff;
    z-index: 2;
}
