/* .images {
    width: auto;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    margin: 50px;
} */
.pageInd{
    width: 71px;
    height: 34px;
    position: absolute ;
    margin-top: -84px ;
    z-index: 1;
    left: 42px;
    z-index: 1000;
    box-shadow: inset 0px -200px 20px -196px rgb(255, 255, 255);
}
.general{
    width: 92%;
    margin-left: 5.5%;
    padding-bottom: 900px;
}
h1{
    text-align: center ;
    color: rgb(0, 0, 0);
    z-index: 2;
    margin-top: 950px;
    margin-bottom: 100px;
}
