<div class="general">
  <h1>AWARDS</h1>
  <app-new-award name="Laureate of Shevchenko National Prize of Ukraine" post="On 7th November, 2014 - Vasyl Vasylenko was awarded in nomination of Performing Arts for the opera Richard Wagners Flying Dutchman in Donetsk National Academic Opera and Ballet Theatre named after A.Solov yanenko"></app-new-award>
  <app-new-award name="People`s Artist of Ukraine, the title of honour" post="for significant personal contribution to the development of the Ukrainian theatre, for creative achievements and high professionalism and on the occasion of the World Theatre Day"></app-new-award>
  <app-new-award name="Honoured Man of Art of Ukraine" post="the title of honour  for significant personal contribution to the development  of national Ukrainian culture and eminent creative achievements "></app-new-award>
</div>