<div class="cv">
<div class="general">
  <h1>AWARDS</h1>
  <app-new-award imgSrc="assets/img/awards3.jpg"
   name="Laureate of Shevchenko National Prize of Ukraine" 
   post="On 7th November, 2014 - Vasyl Vasylenko was awarded in nomination of Performing Arts for the opera Richard Wagners Flying Dutchman in Donetsk National Academic Opera and Ballet Theatre named after A.Solov yanenko">
  </app-new-award>
  
  <app-new-award 
  imgSrc="assets/img/awards2.jpg"
   name="People`s Artist of Ukraine, the title of honour"
    post="for significant personal contribution to the development of the Ukrainian theatre, for creative achievements and high professionalism and on the occasion of the World Theatre Day">
  </app-new-award>
  
  <app-new-award imgSrc="assets/img/awards1.jpg" 
  name="Honoured Man of Art of Ukraine"
   post="the title of honour  for significant personal contribution to the development  of national Ukrainian culture and eminent creative achievements ">
  </app-new-award>
  
  <app-new-award 
  imgSrc="assets/img/awards4.jpg"
   name="Order of Merit  III degree"
    post="for significant personal contribution to  social-economic and cultural development  of Donetsk Region,  exceptional labour achievements, high professionalism and on the occasion of the0 Day of Ukraine Conciliarity">
  </app-new-award>

  <app-new-award imgSrc="assets/img/awards5.jpg"
   name="Order of Miner`s Glory  3rd class"
    post="for his great achievements in work and personal contribution to the development of culture">
  </app-new-award>

  <app-new-award imgSrc="assets/img/awards6.jpg"
   name="Certificate of Honour of Donetsk City Council"
    post="For long-lasting professional activity  and significant personal contribution to the development of the theatre art, and on the occasion of the 75th Anniversary of Donetsk Opera and Ballet Theatre">
  </app-new-award>

  <app-new-award imgSrc="assets/img/awards7.jpg"
   name="Yakutsk City Council Acknowledgement"
    post="for the participation in the organization of the 1st International Opera Festival “Irina Arhipova and Vladislav Piavko present…in Yakutsk”">
  </app-new-award>

  <app-new-award imgSrc="assets/img/awards8.jpg"
   name="Your Names, Odessa! Festival Grand Prix Diploma"
    post="awarded by Odessa City Council in the category of the  “Best Theatre Performance” for staging the opera “Lucia di Lammermoor” by Gaetano Donizetti in Odessa Opera and Ballet Theatre">
  </app-new-award>

  <app-new-award imgSrc="assets/img/awards9.jpg"
   name="Acknowledgment of Odessa City Mayor Ruslan Bodelan "
    post="for faithful performance of duties as Director General of Odessa Opera and Ballet Theatre">
  </app-new-award>

  <app-new-award imgSrc="assets/img/awards10.jpg"
   name="The certificate of professor "
    post="Ministry of Education, Youth and Sports awarded the academic title of professor of orchestral conducting - October 10, 2013">
  </app-new-award>

  <app-new-award imgSrc="assets/img/awards11.jpg"
   name="Honorary Ambassador of Ukrainian Culture in Canada "
    post="title awarded  by  the Ukrainian Embassy in Ottawa for his contribution to the popularization of Ukrainian culture in Canada">
  </app-new-award>
  <app-new-award imgSrc="assets/img/awards12.jpg"
   name="Diploma of the Winner of the Regional Rating-Contest of Best Worker of the Year"
    post="Representative of Culture - 2006 of the Donetsk Regional State Administration">
  </app-new-award>
  <app-new-award imgSrc="assets/img/awards13.jpg"
   name="21st Century Leader diploma and medal"
    post="awarded by the National image program “21st Century Leaders of the East-Ukraine Business Academy for outstanding contribution to the development of modern Ukrainian society">
  </app-new-award>
  </div>
</div>