<div class="content">
  <blockquote class="blockquote text-right" [class.show]="show">
    <p>"Traviata (London Royal Albert Hall, conductor Vasyl Vasylenko) has become the embodiment of genuine opera,
     which sparked off the envy of our leading local and state opera companies."</p>
    <footer class="blockquote-footer">Daily Post

    </footer>
  </blockquote>
  <div class="container">

    <p class="item">
      Vasyl Vasylenko is currently music director and principal conductor of the Kyiv Opera, conductor of the National Presidential Symphony Orchestra of Ukraine, professor in Tchaikovsky National Music Academy of Ukraine, and conductor of the Opera studio by Tchaikovsky National Music Academy in Kyiv. Former music director and principal conductor of Donbas Opera (Donetsk National Opera Theatre), artistic director of the International Opera Art Festival “Zolota Korona” (Golden Crown). He is also former general manager and artistic director of Odesa Opera House, guest conductor of Mississauga Opera House and New World Philharmonic Orchestra and Choir of Ottawa and Montreal, Scottsdale Symphony Orchestra of Arizona, Zagreb National Opera Theatre, Constanta and Krajova Opera Houses, National Bolshoi Opera Theatre of Belarus, National Opera House of Moldova, Lviv National Opera, Kharkiv National Opera, Dnipro Opera, and National Opera of Ukraine.
    </p>
    <a href="/About" class="link">Read More »</a>
  </div>
</div>