<div class="content">
  <blockquote class="blockquote text-right" [class.show]="show">
    <p>"Traviata (London Royal Albert Hall, conductor Vasyl Vasylenko) has become the embodiment of genuine opera,
     which sparked off the envy of our leading local and state opera companies."</p>
    <footer class="blockquote-footer">Daily Post

    </footer>
  </blockquote>
  <div class="container">

    <p class="item">
      Vasyl Vasylenko is currently a music director and principal conductor of the Kyiv Opera, conductor of the National Presidential Symphony Orchestra of Ukraine, professor in Tchaikovsky National Music Academy of Ukraine in Kyiv, and conductor of the Opera studio by Tchaikovsky National Music Academy. Former music director and a principal conductor of Donbas Opera (The National opera house in Donetsk), an artistic director of the International Opera Art Festival “Zolota Korona” (Golden Crown). He is also a former general manager and an artistic director of Odesa Opera House, a conductor of Lviv national opera house, Kharkiv national opera house, Dnipro opera.
    </p>
    <a href="/About" class="link">Read More »</a>
  </div>
</div>